jobscheduler-web-services/raml/schemas/myWebserviceAnswer-xml-schema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="myAnswer" type="myWebserviceAnswer"/>

  <xs:complexType name="myWebserviceAnswer">
    <xs:sequence/>
    <xs:attribute name="email" type="xs:string"/>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="telephone" type="xs:string"/>
  </xs:complexType>
</xs:schema>

