jobscheduler-object-model/jaxb/scheduler_job_documentation_v1.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 3 U (http://www.xmlspy.com) by Andreas Pueschel (APL Software GmbH) -->
<!--W3C Schema generated by XMLSPY v5 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema targetNamespace="http://www.sos-berlin.com/schema/scheduler_job_documentation_v1.1" 
xmlns:xsd="http://www.sos-berlin.com/schema/scheduler_job_documentation_v1.1" 
xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xhtml="http://www.w3.org/1999/xhtml" 
elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:element name="description">
		<xs:annotation>
			<xs:documentation>job description</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="job">
					<xs:annotation>
						<xs:documentation>
							job definition
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:choice>
								<xs:element ref="xsd:script" />
								<xs:element name="process">
									<xs:annotation>
										<xs:documentation>
											executable file
											implementation
										</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence>
											<xs:element
												name="environment" minOccurs="0">
												<xs:annotation>
													<xs:documentation>
														os environment
														variables
													</xs:documentation>
												</xs:annotation>
												<xs:complexType>
													<xs:sequence>
														<xs:element
															name="variable" maxOccurs="unbounded">
															<xs:annotation>
																<xs:documentation>
																	tuples
																	of
																	names
																	and
																	values
																</xs:documentation>
															</xs:annotation>
															<xs:complexType>
																<xs:attribute
																	name="name" type="xs:string" use="required" />
																<xs:attribute
																	name="value" type="xs:string" use="required" />
															</xs:complexType>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
										<xs:attribute name="file"
											type="xs:string" use="required" />
										<xs:attribute name="param"
											type="xs:string" use="optional" />
										<xs:attribute name="log"
											type="xs:string" use="optional" />
									</xs:complexType>
								</xs:element>
							</xs:choice>
							<xs:element name="monitor" minOccurs="0">
								<xs:annotation>
									<xs:documentation>
										monitor script
									</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="xsd:script" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="name" type="xs:string"
							use="required" />
						<xs:attribute name="title" type="xs:string"
							use="required" />
						<xs:attribute name="order" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="yes" />
									<xs:enumeration value="no" />
									<xs:enumeration value="both" />
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="tasks" type="xs:string"
							use="optional" />
					</xs:complexType>
				</xs:element>
				<xs:element name="releases">
					<xs:annotation>
						<xs:documentation>
							add your releases here
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence maxOccurs="unbounded">
							<xs:element name="release"
								maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="title"
											type="xs:string" minOccurs="0" />
										<xs:element name="author"
											maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>
													authors of this
													release
												</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute
													name="name" type="xs:string" use="required" />
												<xs:attribute
													name="email" type="xs:string" use="required" />
											</xs:complexType>
										</xs:element>
										<xs:element ref="xsd:note"
											minOccurs="0" maxOccurs="unbounded" />
										<xs:element ref="xsd:changes"
											minOccurs="0" maxOccurs="unbounded" />
									</xs:sequence>
									<xs:attribute name="id"
										type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation>
												releases are identified
												by distinct ids
											</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="created"
										type="xs:date" use="required" />
									<xs:attribute name="modified"
										type="xs:date" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="resources" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							add required resources here
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence maxOccurs="unbounded">
							<xs:element name="database" minOccurs="0"
								maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>
										database resources
									</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="resource"
											minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>
													required database
													objects
												</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element
														ref="xsd:note" minOccurs="0" maxOccurs="unbounded" />
												</xs:sequence>
												<xs:attribute
													name="type" use="required">
													<xs:simpleType>
														<xs:restriction
															base="xs:string">
															<xs:enumeration
																value="table" />
															<xs:enumeration
																value="view" />
															<xs:enumeration
																value="trigger" />
															<xs:enumeration
																value="procedure" />
															<xs:enumeration
																value="function" />
															<xs:enumeration
																value="java" />
															<xs:enumeration
																value="index" />
															<xs:enumeration
																value="other" />
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute
													name="name" type="xs:string" use="required" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="required"
										type="xs:boolean" use="required" />
									<xs:attribute name="name"
										type="xs:string" use="optional" />
								</xs:complexType>
							</xs:element>
							<xs:element name="memory" minOccurs="0">
								<xs:annotation>
									<xs:documentation>
										minimal memory requirements
									</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="xsd:note"
											minOccurs="0" maxOccurs="unbounded" />
									</xs:sequence>
									<xs:attribute name="min"
										use="required">
										<xs:simpleType>
											<xs:restriction
												base="xs:decimal">
												<xs:fractionDigits
													value="0" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="unit"
										use="required">
										<xs:simpleType>
											<xs:restriction
												base="xs:string">
												<xs:enumeration
													value="KB" />
												<xs:enumeration
													value="MB" />
												<xs:enumeration
													value="GB" />
												<xs:enumeration
													value="TB" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="space" minOccurs="0">
								<xs:annotation>
									<xs:documentation>
										minimal disk space requirements
									</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="xsd:note"
											minOccurs="0" maxOccurs="unbounded" />
									</xs:sequence>
									<xs:attribute name="min"
										use="required">
										<xs:simpleType>
											<xs:restriction
												base="xs:decimal">
												<xs:fractionDigits
													value="0" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="unit"
										use="required">
										<xs:simpleType>
											<xs:restriction
												base="xs:string">
												<xs:enumeration
													value="KB" />
												<xs:enumeration
													value="MB" />
												<xs:enumeration
													value="GB" />
												<xs:enumeration
													value="TB" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="file" minOccurs="0"
								maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="xsd:note"
											minOccurs="0" maxOccurs="unbounded" />
									</xs:sequence>
									<xs:attribute name="os"
										use="required">
										<xs:simpleType>
											<xs:restriction
												base="xs:string">
												<xs:enumeration
													value="all" />
												<xs:enumeration
													value="win32" />
												<xs:enumeration
													value="win64" />
												<xs:enumeration
													value="linux32" />
												<xs:enumeration
													value="linux64" />
												<xs:enumeration
													value="solaris32" />
												<xs:enumeration
													value="solaris64" />
												<xs:enumeration
													value="hpux64" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="type"
										use="required">
										<xs:simpleType>
											<xs:restriction
												base="xs:string">
												<xs:enumeration
													value="java" />
												<xs:enumeration
													value="binary" />
												<xs:enumeration
													value="other" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="file"
										type="xs:string" use="required" />
									<xs:attribute name="id"
										type="xs:token" use="optional" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="configuration">
					<xs:annotation>
						<xs:documentation>
							job configuration
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="xsd:note" minOccurs="0"
								maxOccurs="unbounded" />
							<xs:element name="params" minOccurs="0">
								<xs:annotation>
									<xs:documentation>
										job parameters
									</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="xsd:note"
											minOccurs="0" maxOccurs="unbounded" />
										<xs:element ref="xsd:param"
											minOccurs="0" maxOccurs="unbounded" />
									</xs:sequence>
									<xs:attribute name="id"
										type="xs:token" use="optional" />
									<xs:attribute name="reference"
										type="xs:token" use="optional" />
								</xs:complexType>
							</xs:element>
							<xs:element name="payload" minOccurs="0">
								<xs:annotation>
									<xs:documentation>
										order payload
									</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="xsd:note"
											minOccurs="0" maxOccurs="unbounded" />
										<xs:element name="params"
											minOccurs="0">
											<xs:annotation>
												<xs:documentation>
													payload parameters
												</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element
														ref="xsd:param" minOccurs="0" maxOccurs="unbounded" />
												</xs:sequence>
												<xs:attribute name="id"
													type="xs:token" use="optional" />
												<xs:attribute
													name="reference" type="xs:token" use="optional" />
											</xs:complexType>
										</xs:element>
										<xs:element name="document"
											minOccurs="0">
											<xs:annotation>
												<xs:documentation>
													external xml
													document
												</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence
													minOccurs="0">
													<xs:element
														ref="xsd:note" minOccurs="0" maxOccurs="unbounded" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="settings" minOccurs="0">
								<xs:annotation>
									<xs:documentation>
										job and order settings
									</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="xsd:note"
											minOccurs="0" maxOccurs="unbounded" />
										<xs:element name="profile"
											minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>
													profile defaults to
													factory.ini
												</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element
														ref="xsd:note" minOccurs="0" maxOccurs="unbounded" />
													<xs:element
														name="section" minOccurs="0" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>
																profile
																section
															</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence
																minOccurs="0">
																<xs:element
																	ref="xsd:setting" minOccurs="0" maxOccurs="unbounded" />
															</xs:sequence>
															<xs:attribute
																name="name" type="xs:normalizedString" use="required" />
															<xs:attribute
																name="reference" type="xs:token" use="optional" />
															<xs:attribute
																name="id" type="xs:token" use="optional" />
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute
													name="name" type="xs:string" use="optional"
													default="default" />
											</xs:complexType>
										</xs:element>
										<xs:element name="connection"
											minOccurs="0" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>
													connection defaults
													to job scheduler
													database
												</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element
														ref="xsd:note" minOccurs="0" maxOccurs="unbounded" />
													<xs:element
														name="application" minOccurs="0" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>
																settings
																application
															</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element
																	name="section" maxOccurs="unbounded">
																	<xs:annotation>
																		<xs:documentation>
																			settings
																			section
																		</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:sequence
																			minOccurs="0">
																			<xs:element
																				ref="xsd:setting" minOccurs="0"
																				maxOccurs="unbounded" />
																		</xs:sequence>
																		<xs:attribute
																			name="name" type="xs:normalizedString"
																			use="required" />
																		<xs:attribute
																			name="reference" type="xs:string" use="optional" />
																		<xs:attribute
																			name="id" type="xs:token" use="optional" />
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
															<xs:attribute
																name="name" type="xs:normalizedString" use="required" />
															<xs:attribute
																name="reference" type="xs:token" use="optional" />
															<xs:attribute
																name="id" type="xs:token" use="optional" />
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute
													name="name" type="xs:string" use="optional"
													default="default" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="xsd:documentation"
					maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="note">
		<xs:annotation>
			<xs:documentation>additional note in HTML</xs:documentation>
		</xs:annotation>		
             		<xs:complexType mixed="true">
             		<xs:complexContent mixed="true">
                    <xs:restriction base="xs:anyType">

			<xs:sequence>
				<xs:any namespace="http://www.w3.org/1999/xhtml" processContents="lax"/>
			</xs:sequence>
			<xs:attribute name="language" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="2"/>
						<xs:enumeration value="de"/>
						<xs:enumeration value="en"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			</xs:restriction>
		  </xs:complexContent>
		</xs:complexType>
<!--
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:any namespace="http://www.w3.org/1999/xhtml" processContents="lax"/>
			</xs:sequence>
			<xs:attribute name="language" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="2"/>
						<xs:enumeration value="de"/>
						<xs:enumeration value="en"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
		-->
	</xs:element>
	<xs:element name="param">
		<xs:annotation>
			<xs:documentation>tuples of names and values</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element ref="xsd:note" minOccurs="0"
					maxOccurs="unbounded" />
				<xs:element name="title" type="xs:string" minOccurs="1" maxOccurs="1"></xs:element>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required" />
			<xs:attribute name="default_value" type="xs:string"
				use="optional" />
			<xs:attribute name="required" type="xs:boolean"
				use="required" />
			<xs:attribute name="id" type="xs:token" use="optional" />
			<xs:attribute name="reference" type="xs:token"
				use="optional" />
			<xs:attribute name="Category" type="xs:string" use="optional"></xs:attribute>
			<xs:attribute name="OptionName" type="xs:string" use="optional"></xs:attribute>
			<xs:attribute name="Alias" type="xs:string" use="optional"></xs:attribute>
			<xs:attribute name="DataType" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="SOSOptionFolderName"></xs:enumeration>
						<xs:enumeration value="SOSOptionDate"></xs:enumeration>
						<xs:enumeration value="SOSOptionString"></xs:enumeration>
						<xs:enumeration value="SOSOptionInteger"></xs:enumeration>
						<xs:enumeration value="SOSOptionRegExp"></xs:enumeration>
						<xs:enumeration value="SOSOptionTime"></xs:enumeration>
						<xs:enumeration value="SOSOptionFileSize"></xs:enumeration>
						<xs:enumeration value="SOSOptionGracious"></xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="setting">
		<xs:annotation>
			<xs:documentation>tuples of names and values</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element ref="xsd:note" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="default_value" type="xs:string" use="optional"/>
			<xs:attribute name="required" type="xs:boolean" use="required"/>
			<xs:attribute name="reference" type="xs:token" use="optional"/>
			<xs:attribute name="type" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="integer"/>
						<xs:enumeration value="double"/>
						<xs:enumeration value="float"/>
						<xs:enumeration value="string"/>
						<xs:enumeration value="boolean"/>
						<xs:enumeration value="clob"/>
						<xs:enumeration value="blob"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="id" type="xs:token" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="changes">
		<xs:annotation>
			<xs:documentation>change log for this release given in HTML</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:any namespace="http://www.w3.org/1999/xhtml" processContents="lax"/>
			</xs:sequence>
			<xs:attribute name="language" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="2"/>
						<xs:enumeration value="de"/>
						<xs:enumeration value="en"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="id" type="xs:token" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="documentation">
		<xs:annotation>
			<xs:documentation>job documentation in HTML </xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:any namespace="http://www.w3.org/1999/xhtml" processContents="lax"/>
			</xs:sequence>
			<xs:attribute name="language" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="2"/>
						<xs:enumeration value="de"/>
						<xs:enumeration value="en"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="id" type="xs:token" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="script">
		<xs:annotation>
			<xs:documentation>script or java implementation</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="include" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>include files for job implementation</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="file" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="language" use="optional">
				<xs:annotation>
					<xs:documentation>implementation language</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="java"/>
						<xs:enumeration value="javascript"/>
						<xs:enumeration value="perlscript"/>
						<xs:enumeration value="vbscript"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="java_class" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>if the is implemented with Java then the class respectively the jar file must be added to the class_path entry in the profile</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="com_class" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>if this job implements a COM interface then the name of the COM class must be given</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="resource" type="xs:token" use="optional"/>
		</xs:complexType>
	</xs:element>
</xs:schema>