virtual-file-system/doc/scheduler_job_documentation_v1.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://www.sos-berlin.com/schema/scheduler_job_documentation_v1.1" xmlns:jobdoc="http://www.sos-berlin.com/schema/scheduler_job_documentation_v1.1"
    xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xhtml="http://www.w3.org/1999/xhtml"
    elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

    <!-- see http://www.oxygenxml.com/forum/topic1521.html why this import is needed -->
    <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2005/08/xml.xsd" />

    <!--
    -->
    <xs:annotation>
        <xs:documentation>
            This import is really important to check the xi:include in the xsd.
        </xs:documentation>
    </xs:annotation>
    <xs:import namespace="http://www.w3.org/2001/XInclude" schemaLocation="http://www.w3.org/2001/XInclude.xsd" />

    <xs:simpleType name="SOSOptionTypes">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SOSOptionString" />
            <xs:enumeration value="SOSOptionSetBack" />
            <xs:enumeration value="SOSOptionMailAdress" />
            <xs:enumeration value="SOSOptionMailSubject" />
            <xs:enumeration value="SOSOptionCommandScript" />
            <xs:enumeration value="SOSOptionDBDriver" />
            <xs:enumeration value="SOSOptionJobChainNode" />
            <xs:enumeration value="JSOptionMailOptions" />
            <xs:enumeration value="SOSOptionBoolean" />
            <xs:enumeration value="SOSOptionCommandString" />
            <xs:enumeration value="SOSOptionDate" />
            <xs:enumeration value="SOSOptionFileName" />
            <xs:enumeration value="SOSOptionFileSize" />
            <xs:enumeration value="SOSOptionFolderName" />
            <xs:enumeration value="SOSOptionGracious" />
            <xs:enumeration value="SOSOptionInFileName" />
            <xs:enumeration value="SOSOptionIniFileName" />
            <xs:enumeration value="SOSOptionInteger" />
            <xs:enumeration value="SOSOptionJavaClassName" />
            <xs:enumeration value="SOSOptionJdbcUrl" />
            <xs:enumeration value="SOSOptionOutFileName" />
            <xs:enumeration value="SOSOptionPassword" />
            <xs:enumeration value="SOSOptionRegExp" />
            <xs:enumeration value="SOSOptionTime" />
            <xs:enumeration value="SOSOptionUrl" />
            <xs:enumeration value="SOSOptionHostName" />
            <xs:enumeration value="SOSOptionPortNumber" />
            <xs:enumeration value="SOSOptionUserName" />
            <xs:enumeration value="SOSOptionStringValueList" />
            <xs:enumeration value="JSJobChainName" />
            <xs:enumeration value="JSOrderId" />

        </xs:restriction>
    </xs:simpleType>

    <xs:element name="description">
        <xs:annotation>
            <xs:documentation>job description</xs:documentation>
        </xs:annotation>
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" ref="jobdoc:job">
                    <xs:annotation>
                        <xs:documentation>job definition</xs:documentation>
                    </xs:annotation>

                </xs:element>
                <xs:choice maxOccurs="unbounded">
                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="jobdoc:releases">
                        <xs:annotation>
                            <xs:documentation>add your releases here</xs:documentation>
                        </xs:annotation>

                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="unbounded" ref="jobdoc:resources">
                        <xs:annotation>
                            <xs:documentation>add required resources here</xs:documentation>
                        </xs:annotation>

                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="0" ref="jobdoc:configuration">
                        <xs:annotation>
                            <xs:documentation>job configuration</xs:documentation>
                        </xs:annotation>

                    </xs:element>
                    <xs:element ref="jobdoc:documentation" maxOccurs="unbounded" />
                    <xs:group ref="jobdoc:html_xi" />
                </xs:choice>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="items">
        <xs:annotation>
            <xs:documentation>container for some list types</xs:documentation>
        </xs:annotation>
        <xs:complexType mixed="true">
            <xs:choice maxOccurs="unbounded">
                <xs:group ref="jobdoc:html_xi" minOccurs="0" maxOccurs="1" />
                <xs:element ref="jobdoc:feature" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="jobdoc:codeexample" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="jobdoc:note" minOccurs="0" maxOccurs="unbounded" />
            </xs:choice>
            <xs:attributeGroup ref="jobdoc:languageGroup" />
            <xs:attribute ref="xml:base" />
        </xs:complexType>
    </xs:element>

    <xs:element name="feature">
        <xs:annotation>
            <xs:documentation>container for some list types</xs:documentation>
        </xs:annotation>
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:element ref="jobdoc:title" minOccurs="0" maxOccurs="unbounded" />
                <xs:choice maxOccurs="unbounded">
                    <xs:element ref="jobdoc:abstract" minOccurs="1" maxOccurs="1" />
                    <xs:element ref="jobdoc:documentation" minOccurs="1" maxOccurs="1" />
                    <xs:group ref="jobdoc:html_xi" minOccurs="0" maxOccurs="1" />
                </xs:choice>
            </xs:sequence>
            <xs:attributeGroup ref="jobdoc:languageGroup" />
            <xs:attribute ref="xml:base" />
        </xs:complexType>
    </xs:element>

    <xs:element name="abstract">
        <xs:annotation>
            <xs:documentation>abstract of ... feature, constraint, enhancement, whatever-list-item ....</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:choice minOccurs="1" maxOccurs="unbounded">
                <xs:group ref="jobdoc:html_xi" minOccurs="0" maxOccurs="1" />
            </xs:choice>
            <xs:attributeGroup ref="jobdoc:languageGroup" />
        </xs:complexType>
    </xs:element>

    <xs:element name="note">
        <xs:annotation>
            <xs:documentation>additional note, created with HTML tags</xs:documentation>
        </xs:annotation>
        <xs:complexType mixed="true">
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="jobdoc:title" minOccurs="0" maxOccurs="1" />
                <xs:group ref="jobdoc:html_xi"></xs:group>
                <xs:element ref="jobdoc:note" minOccurs="0" maxOccurs="unbounded" />
            </xs:choice>
            <xs:attributeGroup ref="jobdoc:languageGroup" />
            <xs:attribute name="since" type="xs:string" use="optional" />

            <xs:attribute ref="xml:base" />
        </xs:complexType>
    </xs:element>

    <xs:group name="html_xi">
        <xs:annotation>
            <xs:documentation>
            </xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element ref="jobdoc:p" minOccurs="0" maxOccurs="unbounded" />
            <xs:any namespace="http://www.w3.org/1999/xhtml" processContents="lax" minOccurs="0" maxOccurs="unbounded" />
            <xs:any namespace="http://www.w3.org/2001/XInclude" processContents="lax" minOccurs="0" maxOccurs="unbounded" />
        </xs:choice>
    </xs:group>

    <xs:group name="htmlGroup">
        <xs:annotation>
            <xs:documentation>
            </xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="em" minOccurs="0" maxOccurs="unbounded" />
            <xs:any namespace="http://www.w3.org/1999/xhtml" processContents="lax" minOccurs="0" maxOccurs="unbounded" />
        </xs:choice>
    </xs:group>

    <xs:element name="features">
        <xs:annotation>
            <xs:documentation>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:choice>
                <xs:element ref="jobdoc:feature" minOccurs="0" maxOccurs="unbounded" />
                <xs:group ref="jobdoc:html_xi" minOccurs="0" maxOccurs="1" />
            </xs:choice>
            <xs:attribute ref="xml:base" />
        </xs:complexType>
    </xs:element>

    <xs:element name="p">
        <xs:annotation>
            <xs:documentation>
                a paragraph. should be used instead of inflating a text with br's.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType mixed="true">
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="jobdoc:indexterm" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="jobdoc:codeexample" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="jobdoc:wikilink" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="jobdoc:doxylink" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="jobdoc:link" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="jobdoc:code" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="jobdoc:paramref" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="jobdoc:paramval" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="jobdoc:features" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="jobdoc:a" minOccurs="0" maxOccurs="unbounded" />
                <xs:group ref="jobdoc:htmlGroup" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="jobdoc:ul" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="jobdoc:todo" minOccurs="0" maxOccurs="unbounded" />
<!--
                    <xs:any namespace="##any" minOccurs="0" maxOccurs="unbounded" processContents="lax" />
                -->
            </xs:choice>
            <xs:attributeGroup ref="jobdoc:languageGroup" />
        </xs:complexType>
    </xs:element>

    <xs:element name="a">
        <xs:annotation>
            <xs:documentation>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType mixed="true">
            <xs:attribute name="href" type="xs:string" use="required" />
        </xs:complexType>

    </xs:element>

    <xs:element name="todo">
        <xs:annotation>
            <xs:documentation>
            </xs:documentation>
        </xs:annotation>

    </xs:element>

    <xs:element name="ul">
        <xs:annotation>
            <xs:documentation>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType mixed="true">
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element name="li" minOccurs="1" maxOccurs="unbounded" />
            </xs:choice>
        </xs:complexType>

    </xs:element>


    <xs:element name="wikilink">
        <xs:annotation>
            <xs:documentation>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType mixed="true">
            <xs:attribute name="linkto" type="xs:string" use="required" />
        </xs:complexType>
    </xs:element>

    <xs:element name="doxylink">
        <xs:annotation>
            <xs:documentation>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType mixed="true">
            <xs:attribute name="linkto" type="xs:string" use="required" />
        </xs:complexType>
    </xs:element>

    <xs:element name="paramref">
        <xs:annotation>
            <xs:documentation>
            A reference, e.g. a link, to a parameter definition within or outside the documentaiton.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType mixed="true">
            <xs:attribute name="linkto" type="xs:string" use="optional" >
                <xs:annotation>
                    <xs:documentation>
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="name" type="xs:string" use="optional">
                <xs:annotation>
                    <xs:documentation>
                        The name of the referenced parameter.
                        This Attribute can be used instead of an value of the tag.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:element name="paramval">
        <xs:annotation>
            <xs:documentation>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType mixed="true">
            <xs:attribute name="datatype" type="jobdoc:SOSOptionTypes" />
        </xs:complexType>
    </xs:element>


    <xs:element name="link">
        <xs:annotation>
            <xs:documentation>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType mixed="true">
            <xs:attribute name="href" type="xs:anyURI" use="optional">
                <xs:annotation>
                    <xs:documentation>
                        href is optional.
                        if href is not specified the text() of the tag is used as value for href.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:element name="values">
        <xs:annotation>
            <xs:documentation>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType mixed="true">
            <xs:choice>
                <xs:element ref="jobdoc:value" maxOccurs="unbounded" />
            </xs:choice>
        </xs:complexType>
    </xs:element>

    <xs:element name="value">
        <xs:annotation>
            <xs:documentation>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType mixed="true">
            <xs:choice>
                <xs:element ref="jobdoc:note" maxOccurs="unbounded" minOccurs="0" />
                <xs:group ref="jobdoc:html_xi" />
            </xs:choice>
            <xs:attribute name="value" type="xs:string" use="required">
                <xs:annotation>
                    <xs:documentation>
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="default" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>


    <xs:element name="code">
        <xs:annotation>
            <xs:documentation>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType mixed="true">
            <xs:choice>
                <xs:element ref="jobdoc:pre" minOccurs="0" maxOccurs="unbounded" />
            </xs:choice>
        </xs:complexType>
    </xs:element>


    <xs:element name="pre">
        <xs:annotation>
            <xs:documentation>
                mark a preformatted text
            </xs:documentation>
        </xs:annotation>
        <xs:complexType mixed="true">
        </xs:complexType>
    </xs:element>


    <xs:element name="param">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:any namespace="http://www.w3.org/2001/XInclude" processContents="lax" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="jobdoc:title" minOccurs="0" maxOccurs="1" />
                <xs:element ref="jobdoc:note" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="jobdoc:examples" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="jobdoc:codeexample" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="jobdoc:values" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="jobdoc:indexterm" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="jobdoc:todo" minOccurs="0" maxOccurs="unbounded" />
            </xs:choice>
            <xs:attribute name="name" type="xs:string" use="required" />
            <xs:attribute name="required" type="xs:boolean" use="required" />
            <xs:attribute name="id" type="xs:token" use="optional" />
            <xs:attribute name="reference" type="xs:token" use="optional" />
            <xs:attribute name="Category" type="xs:string" use="optional" />
            <xs:attribute name="constraint" type="xs:string" use="optional" />
            <xs:attribute name="OptionName" type="xs:string" use="optional" />
            <xs:attribute name="deprecated" type="xs:string" use="optional" />
            <xs:attribute name="since" type="xs:string" use="optional" />
            <xs:attribute name="see" type="xs:string" use="optional" />
            <xs:attribute name="usewith" type="xs:string" use="optional" />
            <xs:attribute name="Alias" type="xs:string" use="optional" />
            <xs:attribute name="DefaultValue" type="xs:string" use="optional" />
            <xs:attribute name="default_value" type="xs:string" use="optional" />
            <xs:attribute name="DataType" use="optional" type="jobdoc:SOSOptionTypes" />
            <xs:attribute name="scope" use="optional" type="xs:string" />
            <xs:attribute name="prefix" use="optional" type="xs:string" />
            <xs:attribute name="extends" use="optional" type="xs:string" />
            <xs:attribute name="interface" use="optional" type="xs:string" />
            <xs:attribute use="optional" name="display" type="xs:string">
               <xs:annotation>
                    <xs:documentation>
                    This Attribute is used when the name of the parameter is variable and different from the name of the docu member. Then
                    this value is used to represent the parameter name.
                    Example: name="job_chain_state_required_orders"  is displayed as display="(jobChainName);(state)_required_orders" .
                    </xs:documentation>
               </xs:annotation>
            </xs:attribute>

            <xs:attribute ref="xml:base" />
        </xs:complexType>
    </xs:element>

    <xs:element name="examples">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:choice minOccurs="1" maxOccurs="unbounded">
                <xs:any namespace="http://www.w3.org/2001/XInclude" processContents="lax" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="jobdoc:codeexample" minOccurs="0" maxOccurs="unbounded" />
            </xs:choice>
            <xs:attribute name="name" use="optional" />
        </xs:complexType>
    </xs:element>

    <xs:element name="codeexample">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:choice minOccurs="1" maxOccurs="unbounded">
                <xs:any namespace="http://www.w3.org/2001/XInclude" processContents="lax" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="jobdoc:embeddedExample" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="jobdoc:explanation" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="jobdoc:title" minOccurs="0" maxOccurs="unbounded" />
            </xs:choice>
            <xs:attributeGroup ref="jobdoc:languageGroup" />
        </xs:complexType>
    </xs:element>

    <xs:element name="embeddedExample">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
        <xs:complexType mixed="true">
            <xs:group ref="jobdoc:html_xi" maxOccurs="unbounded" />
            <xs:attributeGroup ref="jobdoc:languageGroup" />
            <xs:attribute name="scope" use="optional" />
        </xs:complexType>
    </xs:element>

    <xs:attributeGroup name="languageGroup">
        <!--
            <xs:attribute ref="jobdoc:language" />
            <xs:attribute ref="jobdoc:os" />
            <xs:attribute ref="jobdoc:type" />
        -->
        <xs:attribute name="language" type="xs:string">
            <xs:annotation>
                <xs:documentation>the language used for this piece of text. see xml:lang for more details
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="os" type="xs:string" />
        <xs:attribute name="type" type="xs:string" />
        <xs:attribute name="role" type="xs:string" />
        <xs:attribute name="audience" type="xs:string" />
        <xs:attribute name="name" use="optional" />
    </xs:attributeGroup>

    <xs:attribute name="os">
        <xs:annotation>
            <xs:documentation xml:lang="en">
            </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="windos" />
                <xs:enumeration value="unix" />
                <xs:enumeration value="linux" />
                <xs:enumeration value="aix" />
                <xs:enumeration value="hp-ux" />
                <xs:enumeration value="sun" />
            </xs:restriction>
        </xs:simpleType>
    </xs:attribute>

    <xs:attribute name="language">
        <xs:annotation>
            <xs:documentation xml:lang="en">The language in which the text is created.
                see xml:lang for further informations.
            </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:length value="2" />
                <xs:enumeration value="de" />
                <xs:enumeration value="en" />
                <xs:enumeration value="fr" />
                <xs:enumeration value="es" />
                <xs:enumeration value="value"></xs:enumeration>
            </xs:restriction>
        </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="type">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="xml" />
                <xs:enumeration value="text" />
                <xs:enumeration value="jobscheduler" />
                <xs:enumeration value="jade" />
                <xs:enumeration value="jadeclient" />
            </xs:restriction>
        </xs:simpleType>

    </xs:attribute>
    <xs:attribute name="exampletype">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="xml" />
                <xs:enumeration value="text" />
                <xs:enumeration value="jobscheduler" />
                <xs:enumeration value="jade" />
                <xs:enumeration value="jadeclient" />
            </xs:restriction>
        </xs:simpleType>

    </xs:attribute>


    <xs:element name="explanation">
        <xs:annotation>
            <xs:documentation></xs:documentation>
        </xs:annotation>
        <xs:complexType mixed="true">
            <xs:choice maxOccurs="unbounded">
                <xs:group ref="jobdoc:html_xi" maxOccurs="unbounded" />
                <xs:element ref="jobdoc:title" maxOccurs="1" />
            </xs:choice>
            <xs:attributeGroup ref="jobdoc:languageGroup" />
        </xs:complexType>
    </xs:element>

    <xs:element name="setting">
        <xs:annotation>
            <xs:documentation>tuples of names and values</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence minOccurs="0">
                <xs:element ref="jobdoc:note" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
            <xs:attribute name="name" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN" />
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="default_value" type="xs:string" use="optional" />
            <xs:attribute name="required" type="xs:boolean" use="required" />
            <xs:attribute name="reference" type="xs:token" use="optional" />
            <xs:attribute name="type" use="optional">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="integer" />
                        <xs:enumeration value="double" />
                        <xs:enumeration value="float" />
                        <xs:enumeration value="string" />
                        <xs:enumeration value="boolean" />
                        <xs:enumeration value="clob" />
                        <xs:enumeration value="blob" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="id" type="xs:token" use="optional" />
        </xs:complexType>
    </xs:element>

    <xs:element name="changes">
        <xs:annotation>
            <xs:documentation>change log for this release given in HTML</xs:documentation>
        </xs:annotation>
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:any namespace="http://www.w3.org/1999/xhtml" processContents="lax" />
            </xs:sequence>
            <xs:attribute ref="jobdoc:language" use="required" />
            <xs:attribute name="id" type="xs:token" use="optional" />
        </xs:complexType>
    </xs:element>

    <xs:element name="documentation">
        <xs:annotation>
            <xs:documentation>job documentation in HTML
            </xs:documentation>
        </xs:annotation>
        <xs:complexType mixed="true">
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="jobdoc:note" minOccurs="0" maxOccurs="unbounded" />
                <xs:group ref="jobdoc:html_xi" />
            </xs:choice>
            <xs:attributeGroup ref="jobdoc:languageGroup" />
            <xs:attribute name="id" type="xs:token" use="optional" />
            <xs:attribute ref="xml:base" />
        </xs:complexType>
    </xs:element>

    <xs:element name="script">
        <xs:annotation>
            <xs:documentation>script or java implementation</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="include" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>include files for job implementation</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:attribute name="file" type="xs:string" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="language" use="optional">
                <xs:annotation>
                    <xs:documentation>implementation language</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="java" />
                        <xs:enumeration value="javascript" />
                        <xs:enumeration value="perlscript" />
                        <xs:enumeration value="vbscript" />
                        <xs:enumeration value="shell" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="java_class" type="xs:string" use="optional">
                <xs:annotation>
                    <xs:documentation>if the is implemented with Java then the class respectively the jar file must be added to the class_path entry in the
                        profile
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="com_class" type="xs:string" use="optional">
                <xs:annotation>
                    <xs:documentation>if this job implements a COM interface then the name of the COM class must be given</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="resource" type="xs:token" use="optional" />
        </xs:complexType>
    </xs:element>

    <xs:element name="title">
        <xs:complexType mixed="true">
            <xs:group ref="jobdoc:html_xi" />
            <xs:attributeGroup ref="jobdoc:languageGroup" />
        </xs:complexType>
    </xs:element>

    <xs:element name="params">
        <xs:annotation>
            <xs:documentation>
                job parameters
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="jobdoc:note" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="jobdoc:param" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="jobdoc:params" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="jobdoc:todo" minOccurs="0" maxOccurs="unbounded" />
                <xs:any namespace="http://www.w3.org/2001/XInclude" processContents="lax" minOccurs="0" maxOccurs="unbounded" />
            </xs:choice>
            <xs:attribute name="id" use="optional" default="job_parameter">
                <xs:annotation>
                    <xs:documentation>intended scope of parameter</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="other" />
                        <xs:enumeration value="global" />
                        <xs:enumeration value="return_parameter" />
                        <xs:enumeration value="job_parameter" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="reference" type="xs:token" use="optional" />
            <xs:attribute name="language" type="xs:string" use="optional" />
            <xs:attribute name="category" type="xs:string" use="optional" />
            <xs:attribute ref="xml:base" />
        </xs:complexType>
    </xs:element>

    <xs:element name="job">
        <xs:annotation></xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:choice>
                    <xs:element ref="jobdoc:script"></xs:element>
                    <xs:element minOccurs="0" name="process">
                        <xs:annotation></xs:annotation>
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element minOccurs="0" name="environment">
                                    <xs:annotation></xs:annotation>
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element maxOccurs="unbounded" name="variable">
                                                <xs:annotation></xs:annotation>
                                                <xs:complexType>
                                                    <xs:attribute use="required" name="name" type="xs:string"></xs:attribute>
                                                    <xs:attribute use="required" name="value" type="xs:string"></xs:attribute>
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                            <xs:attribute use="required" name="file" type="xs:string"></xs:attribute>
                            <xs:attribute use="optional" name="param" type="xs:string"></xs:attribute>
                            <xs:attribute use="optional" name="log" type="xs:string"></xs:attribute>
                            <xs:attribute ref="xml:base" />
                        </xs:complexType>
                    </xs:element>
                </xs:choice>
                <xs:element minOccurs="0" name="monitor">
                    <xs:annotation></xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="jobdoc:script"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute use="required" name="name" type="xs:string"></xs:attribute>
            <xs:attribute use="required" name="title" type="xs:string"></xs:attribute>
            <xs:attribute use="required" name="order">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="yes"></xs:enumeration>
                        <xs:enumeration value="no"></xs:enumeration>
                        <xs:enumeration value="both"></xs:enumeration>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute use="optional" name="tasks" type="xs:string"></xs:attribute>
            <xs:attribute use="optional" name="deprecated" type="xs:string"></xs:attribute>
            <xs:attribute use="optional" name="since" type="xs:string"></xs:attribute>
            <xs:attribute use="optional" name="category" type="xs:string"></xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="releases">
        <xs:annotation></xs:annotation>
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element maxOccurs="unbounded" name="release">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="unbounded" ref="jobdoc:title"></xs:element>
                            <xs:element maxOccurs="unbounded" name="author">
                                <xs:annotation></xs:annotation>
                                <xs:complexType>
                                    <xs:attribute use="required" name="name" type="xs:string"></xs:attribute>
                                    <xs:attribute use="required" name="email" type="xs:string"></xs:attribute>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" maxOccurs="unbounded" ref="jobdoc:note"></xs:element>
                            <xs:element minOccurs="0" maxOccurs="unbounded" ref="jobdoc:changes"></xs:element>
                        </xs:sequence>
                        <xs:attribute use="required" name="id" type="xs:string">
                            <xs:annotation></xs:annotation>
                        </xs:attribute>
                        <xs:attribute use="required" name="created" type="xs:date"></xs:attribute>
                        <xs:attribute use="required" name="modified" type="xs:date"></xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XInclude" processContents="lax"></xs:any>
            </xs:choice>
        </xs:complexType>
    </xs:element>

    <xs:element name="resources">
        <xs:annotation></xs:annotation>
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element minOccurs="0" maxOccurs="unbounded" name="database">
                    <xs:annotation></xs:annotation>
                    <xs:complexType>
                        <xs:choice>
                            <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XInclude" processContents="lax"></xs:any>
                            <xs:element minOccurs="0" maxOccurs="unbounded" name="resource">
                                <xs:annotation></xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" maxOccurs="unbounded" ref="jobdoc:note"></xs:element>
                                    </xs:sequence>
                                    <xs:attribute use="required" name="type">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="table"></xs:enumeration>
                                                <xs:enumeration value="view"></xs:enumeration>
                                                <xs:enumeration value="trigger"></xs:enumeration>
                                                <xs:enumeration value="procedure"></xs:enumeration>
                                                <xs:enumeration value="function"></xs:enumeration>
                                                <xs:enumeration value="java"></xs:enumeration>
                                                <xs:enumeration value="index"></xs:enumeration>
                                                <xs:enumeration value="other"></xs:enumeration>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute use="required" name="name" type="xs:string"></xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                        <xs:attribute use="required" name="required" type="xs:boolean"></xs:attribute>
                        <xs:attribute use="optional" name="name" type="xs:string"></xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="memory">
                    <xs:annotation></xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="unbounded" ref="jobdoc:note"></xs:element>
                        </xs:sequence>
                        <xs:attribute use="required" name="min">
                            <xs:simpleType>
                                <xs:restriction base="xs:decimal">
                                    <xs:fractionDigits value="0"></xs:fractionDigits>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute use="required" name="unit">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="KB"></xs:enumeration>
                                    <xs:enumeration value="MB"></xs:enumeration>
                                    <xs:enumeration value="GB"></xs:enumeration>
                                    <xs:enumeration value="TB"></xs:enumeration>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="space">
                    <xs:annotation></xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="unbounded" ref="jobdoc:note"></xs:element>
                        </xs:sequence>
                        <xs:attribute use="required" name="min">
                            <xs:simpleType>
                                <xs:restriction base="xs:decimal">
                                    <xs:fractionDigits value="0"></xs:fractionDigits>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute use="required" name="unit">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="KB"></xs:enumeration>
                                    <xs:enumeration value="MB"></xs:enumeration>
                                    <xs:enumeration value="GB"></xs:enumeration>
                                    <xs:enumeration value="TB"></xs:enumeration>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element ref="jobdoc:file" minOccurs="0" maxOccurs="unbounded" />
                <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XInclude" processContents="lax"></xs:any>
            </xs:choice>
        </xs:complexType>
    </xs:element>

    <xs:element name="file">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="jobdoc:note" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="jobdoc:resources" minOccurs="0" maxOccurs="unbounded" />
                <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XInclude" processContents="lax"></xs:any>
            </xs:choice>
            <xs:attribute use="required" name="os">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="all"></xs:enumeration>
                        <xs:enumeration value="win32"></xs:enumeration>
                        <xs:enumeration value="win64"></xs:enumeration>
                        <xs:enumeration value="linux32"></xs:enumeration>
                        <xs:enumeration value="linux64"></xs:enumeration>
                        <xs:enumeration value="solaris32"></xs:enumeration>
                        <xs:enumeration value="solaris64"></xs:enumeration>
                        <xs:enumeration value="hpux64"></xs:enumeration>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute use="required" name="type">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="java"></xs:enumeration>
                        <xs:enumeration value="binary"></xs:enumeration>
                        <xs:enumeration value="other"></xs:enumeration>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute use="required" name="file" type="xs:string"></xs:attribute>
            <xs:attribute use="optional" name="id" type="xs:token"></xs:attribute>
            <xs:attribute name="homepage" use="optional" type="xs:string" />
            <xs:attribute name="sourcedoc" use="optional" type="xs:string" />
            <xs:attribute name="license_type" use="optional" type="xs:string" />
            <xs:attribute name="license_url" use="optional" type="xs:string" />
        </xs:complexType>
    </xs:element>


    <xs:element name="configuration">
        <xs:annotation></xs:annotation>
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="jobdoc:note"></xs:element>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="jobdoc:params"></xs:element>
                <xs:element minOccurs="0" name="payload">
                    <xs:annotation></xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="unbounded" ref="jobdoc:note"></xs:element>
                            <xs:element minOccurs="0" maxOccurs="unbounded" name="params">
                                <xs:annotation></xs:annotation>
                                <xs:complexType>
                                    <xs:choice>
                                        <xs:element minOccurs="0" maxOccurs="unbounded" ref="jobdoc:param"></xs:element>
                                        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XInclude"></xs:any>
                                    </xs:choice>
                                    <xs:attribute use="optional" name="id" type="xs:token"></xs:attribute>
                                    <xs:attribute use="optional" name="reference" type="xs:token"></xs:attribute>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" name="document">
                                <xs:annotation></xs:annotation>
                                <xs:complexType>
                                    <xs:sequence minOccurs="0">
                                        <xs:element minOccurs="0" maxOccurs="unbounded" ref="jobdoc:note"></xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="settings">
                    <xs:annotation></xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="unbounded" ref="jobdoc:note"></xs:element>
                            <xs:element minOccurs="0" maxOccurs="unbounded" name="profile">
                                <xs:annotation></xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" maxOccurs="unbounded" ref="jobdoc:note"></xs:element>
                                        <xs:element minOccurs="0" maxOccurs="unbounded" name="section">
                                            <xs:annotation></xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence minOccurs="0">
                                                    <xs:element minOccurs="0" maxOccurs="unbounded" ref="jobdoc:setting"></xs:element>
                                                </xs:sequence>
                                                <xs:attribute use="required" name="name" type="xs:normalizedString"></xs:attribute>
                                                <xs:attribute use="optional" name="reference" type="xs:token"></xs:attribute>
                                                <xs:attribute use="optional" name="id" type="xs:token"></xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute use="optional" default="default" name="name" type="xs:string"></xs:attribute>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" maxOccurs="unbounded" name="connection">
                                <xs:annotation></xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" maxOccurs="unbounded" ref="jobdoc:note"></xs:element>
                                        <xs:element minOccurs="0" maxOccurs="unbounded" name="application">
                                            <xs:annotation></xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element maxOccurs="unbounded" name="section">
                                                        <xs:annotation></xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence minOccurs="0">
                                                                <xs:element minOccurs="0" maxOccurs="unbounded" ref="jobdoc:setting"></xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute use="required" name="name" type="xs:normalizedString"></xs:attribute>
                                                            <xs:attribute use="optional" name="reference" type="xs:string"></xs:attribute>
                                                            <xs:attribute use="optional" name="id" type="xs:token"></xs:attribute>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute use="required" name="name" type="xs:normalizedString"></xs:attribute>
                                                <xs:attribute use="optional" name="reference" type="xs:token"></xs:attribute>
                                                <xs:attribute use="optional" name="id" type="xs:token"></xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute use="optional" default="default" name="name" type="xs:string"></xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XInclude" processContents="lax"></xs:any>
            </xs:choice>
        </xs:complexType>
    </xs:element>

    <xs:element name="indexterm" nillable="true">
        <xs:annotation>
            <xs:documentation>
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="display" type="xs:boolean" use="optional" default="false" />
                    <xs:attribute name="index" type="xs:string" use="required" />
                    <xs:attribute name="context" type="xs:string" use="optional" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <!--
        <xs:element name="codeexample">
        <xs:annotation>
        <xs:documentation></xs:documentation>
        </xs:annotation>
        <xs:complexType mixed="true">
        <xs:choice minOccurs="1" maxOccurs="unbounded">
        <xs:any namespace="http://www.w3.org/2001/XInclude" processContents="lax" minOccurs="0" maxOccurs="unbounded" />
        <xs:element ref="embeddedExample" minOccurs="0" maxOccurs="unbounded" />
        <xs:element ref="explanation" minOccurs="0" maxOccurs="unbounded" />
        <xs:element ref="title" minOccurs="0" maxOccurs="unbounded" />
        </xs:choice>
        <xs:attributeGroup ref="jobdoc:languageGroup" />
        </xs:complexType>
        </xs:element>

        <xs:element name="embeddedExample">
        <xs:annotation>
        <xs:documentation></xs:documentation>
        </xs:annotation>
        <xs:complexType mixed="true">
        <xs:group ref="jobdoc:html_xi" maxOccurs="unbounded" />
        <xs:attributeGroup ref="jobdoc:languageGroup" />
        </xs:complexType>
        </xs:element>

        <xs:element name="explanation">
        <xs:annotation>
        <xs:documentation></xs:documentation>
        </xs:annotation>
        <xs:complexType mixed="true">
        <xs:group ref="jobdoc:html_xi" maxOccurs="unbounded" />
        <xs:attributeGroup ref="jobdoc:languageGroup" />
        </xs:complexType>
        </xs:element>
    -->

</xs:schema>
