sos-security/src/test/resources/permissions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 3 U (http://www.xmlspy.com) by Andreas Pueschel (APL Software GmbH) -->
<!--W3C Schema generated by XMLSPY v5 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="SOSPermissionShiro">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SOSPermissionRoles"/>
				<xs:element ref="SOSPermissions"/>
			</xs:sequence>
			<xs:attribute name="authenticated" type="xs:boolean"/>
			<xs:attribute name="user" type="xs:string"/>
			<xs:attribute name="access_token" type="xs:string"/>
			<xs:attribute name="security_server_url" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SOSPermissionRole">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SOSPermissionListJoc">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="SOSPermission"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SOSPermissionListCommands">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="SOSPermission"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SOSPermission">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="edit"/>
				<xs:enumeration value="shart_job"/>
				<xs:enumeration value="show"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SOSPermissions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SOSPermissionListCommands"/>
				<xs:element ref="SOSPermissionListJoc"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SOSPermissionRoles">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SOSPermissionRole" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SOSPermissionJocCockpit">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="JobschedulerMaster">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="view">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="status" type="xs:boolean"/>
										<xs:element name="mainlog" type="xs:boolean"/>
										<xs:element name="parameter" type="xs:boolean"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="execute">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="restart">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="terminate" type="xs:boolean"/>
													<xs:element name="abort" type="xs:boolean"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="pause" type="xs:boolean"/>
										<xs:element name="continue" type="xs:boolean"/>
										<xs:element name="terminate" type="xs:boolean"/>
										<xs:element name="abort" type="xs:boolean"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="administration">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="removeOldInstances" type="xs:boolean"/>
										<xs:element name="manageCategories" type="xs:boolean"/>
										<xs:element name="editPermissions" type="xs:boolean"/>
										<xs:element name="editMainSection"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="JobschedulerMasterCluster">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="view">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="status" type="xs:boolean"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="execute">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="restart" type="xs:boolean"/>
										<xs:element name="terminate" type="xs:boolean"/>
										<xs:element name="terminateFailSafe" type="xs:boolean"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="JobschedulerUniversalAgent">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="view">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="status" type="xs:boolean"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="execute">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="restart">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="terminate" type="xs:boolean"/>
													<xs:element name="abort" type="xs:boolean"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="terminate" type="xs:boolean"/>
										<xs:element name="abort" type="xs:boolean"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="DailyPlan">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="view">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="status" type="xs:boolean"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="History">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="view">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="status" type="xs:boolean"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Order">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="view">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="configuration" type="xs:boolean"/>
										<xs:element name="orderLog" type="xs:boolean"/>
										<xs:element name="status" type="xs:boolean"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="change">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="startAndEndNode" type="xs:boolean"/>
										<xs:element name="timeForAdhocOrder" type="xs:boolean"/>
										<xs:element name="runTime" type="xs:boolean"/>
										<xs:element name="state" type="xs:boolean"/>
										<xs:element name="parameter" type="xs:boolean"/>
										<xs:element name="hotFolder" type="xs:boolean"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="delete">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="temporary" type="xs:boolean"/>
										<xs:element name="permanent" type="xs:boolean"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="execute">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="start" type="xs:boolean"/>
										<xs:element name="update" type="xs:boolean"/>
										<xs:element name="suspend" type="xs:boolean"/>
										<xs:element name="resume" type="xs:boolean"/>
										<xs:element name="reset" type="xs:boolean"/>
										<xs:element name="removeSetback" type="xs:boolean"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="JobChain">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="view">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="configuration" type="xs:boolean"/>
										<xs:element name="history" type="xs:boolean"/>
										<xs:element name="status" type="xs:boolean"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="execute">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="stop" type="xs:boolean"/>
										<xs:element name="unstop" type="xs:boolean"/>
										<xs:element name="addOrder" type="xs:boolean"/>
										<xs:element name="skipJobChainNode" type="xs:boolean"/>
										<xs:element name="processJobChainNode" type="xs:boolean"/>
										<xs:element name="stopJobChainNode" type="xs:boolean"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="change">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="hotFolder" type="xs:boolean"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Job">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="view">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="status" type="xs:boolean"/>
										<xs:element name="taskLog" type="xs:boolean"/>
										<xs:element name="configuration" type="xs:boolean"/>
										<xs:element name="history" type="xs:boolean"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="change">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="runTime" type="xs:boolean"/>
										<xs:element name="hotfolder" type="xs:boolean"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="execute">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="start" type="xs:boolean"/>
										<xs:element name="stop" type="xs:boolean"/>
										<xs:element name="unstop" type="xs:boolean"/>
										<xs:element name="terminate" type="xs:boolean"/>
										<xs:element name="kill" type="xs:boolean"/>
										<xs:element name="endAllTasks" type="xs:boolean"/>
										<xs:element name="suspendAllTasks" type="xs:boolean"/>
										<xs:element name="continueAllTasks" type="xs:boolean"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ProcessClass">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="view">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="status" type="xs:boolean"/>
										<xs:element name="configuration" type="xs:boolean"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="change">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="hotFolder" type="xs:boolean"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Schedule">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="view">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="status" type="xs:boolean"/>
										<xs:element name="configuration" type="xs:boolean"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="change">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="addSubstitute" type="xs:boolean"/>
										<xs:element name="hotFolder" type="xs:boolean"/>
										<xs:element name="editContent" type="xs:boolean"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Lock">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="view">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="status" type="xs:boolean"/>
										<xs:element name="configuration" type="xs:boolean"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="change">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="hotFolder" type="xs:boolean"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Event">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="view">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="status" type="xs:boolean"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="execute">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="add" type="xs:boolean"/>
										<xs:element name="delete" type="xs:boolean"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="HolidayCalendar">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="view">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="status" type="xs:boolean"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="MaintenanceWindow">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="view">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="status" type="xs:boolean"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="enableDisableMaintenanceWindow" type="xs:boolean"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="AuditLog">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="view">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="status" type="xs:boolean"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="JOCConfigurations">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="share">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="change">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="editContent" type="xs:boolean"/>
													<xs:element name="delete" type="xs:boolean"/>
													<xs:element name="sharedStatus">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="makePrivate" type="xs:boolean"/>
																<xs:element name="makeShared" type="xs:boolean"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="view">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="status" type="xs:boolean"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="SOSPermissionRoles"/>
				<xs:element name="YADE">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="view">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="status" type="xs:boolean"/>
										<xs:element name="transfers" type="xs:boolean"/>
										<xs:element name="files" type="xs:boolean"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="execute">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="transferStart" type="xs:boolean"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Calendar">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="view">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="status" type="xs:boolean"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="edit">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="create" type="xs:boolean"/>
										<xs:element name="change" type="xs:boolean"/>
										<xs:element name="delete" type="xs:boolean"/>
										<xs:element name="assign">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="runtime" type="xs:boolean"/>
													<xs:element name="nonworking" type="xs:boolean"/>
													<xs:element name="change" type="xs:boolean"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Runtime">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="execute">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="editXml" type="xs:boolean"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="isAuthenticated" type="xs:boolean"/>
			<xs:attribute name="user" type="xs:string"/>
			<xs:attribute name="accessToken" type="xs:string"/>
			<xs:attribute name="jobschedulerId" type="xs:string"/>
			<xs:attribute name="precedence" type="xs:int"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SOSPermissionCommands">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="JobschedulerMaster">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="view">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="status" type="xs:boolean"/>
										<xs:element name="parameter" type="xs:boolean"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="execute">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="stop" type="xs:boolean"/>
										<xs:element name="continue" type="xs:boolean"/>
										<xs:element name="pause" type="xs:boolean"/>
										<xs:element name="terminate" type="xs:boolean"/>
										<xs:element name="abort" type="xs:boolean"/>
										<xs:element name="reload" type="xs:boolean"/>
										<xs:element name="restart">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="terminate" type="xs:boolean"/>
													<xs:element name="abort" type="xs:boolean"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="administration">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="manageCategories" type="xs:boolean"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="JobschedulerMasterCluster">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="execute">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="terminateFailSafe" type="xs:boolean"/>
										<xs:element name="terminate" type="xs:boolean"/>
										<xs:element name="restart" type="xs:boolean"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="DailyPlan">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="view">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="status" type="xs:boolean"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="History">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="view" type="xs:boolean"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Order">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="view">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="status" type="xs:boolean"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="delete" type="xs:boolean"/>
							<xs:element name="execute">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="reset" type="xs:boolean"/>
										<xs:element name="removeSetback" type="xs:boolean"/>
										<xs:element name="resume" type="xs:boolean"/>
										<xs:element name="suspend" type="xs:boolean"/>
										<xs:element name="update" type="xs:boolean"/>
										<xs:element name="start" type="xs:boolean"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="change">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="parameter" type="xs:boolean"/>
										<xs:element name="state" type="xs:boolean"/>
										<xs:element name="runTime" type="xs:boolean"/>
										<xs:element name="timeForAdhocOrder" type="xs:boolean"/>
										<xs:element name="startAndEndNode" type="xs:boolean"/>
										<xs:element name="hotFolder" type="xs:boolean"/>
										<xs:element name="other" type="xs:boolean"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="JobChain">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="view">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="status" type="xs:boolean"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="execute">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="stop" type="xs:boolean"/>
										<xs:element name="unstop" type="xs:boolean"/>
										<xs:element name="skipJobChainNode" type="xs:boolean"/>
										<xs:element name="stopJobChainNode" type="xs:boolean"/>
										<xs:element name="processJobChainNode" type="xs:boolean"/>
										<xs:element name="addOrder" type="xs:boolean"/>
										<xs:element name="remove" type="xs:boolean"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="change">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="hotFolder" type="xs:boolean"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Job">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="view">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="status" type="xs:boolean"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="execute">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="start" type="xs:boolean"/>
										<xs:element name="stop" type="xs:boolean"/>
										<xs:element name="unstop" type="xs:boolean"/>
										<xs:element name="suspendAllTasks" type="xs:boolean"/>
										<xs:element name="endAllTasks" type="xs:boolean"/>
										<xs:element name="continueAllTasks" type="xs:boolean"/>
										<xs:element name="terminate" type="xs:boolean"/>
										<xs:element name="kill" type="xs:boolean"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="change">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="runTime" type="xs:boolean"/>
										<xs:element name="hotFolder" type="xs:boolean"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ProcessClass">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="view">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="status" type="xs:boolean"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="remove" type="xs:boolean"/>
							<xs:element name="change">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="editContent"/>
										<xs:element name="hotFolder" type="xs:boolean"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Schedule">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="view">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="status" type="xs:boolean"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="remove" type="xs:boolean"/>
							<xs:element name="change">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="addSubstitute" type="xs:boolean"/>
										<xs:element name="hotFolder" type="xs:boolean"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Lock">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="view">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="status" type="xs:boolean"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="remove" type="xs:boolean"/>
							<xs:element name="change">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="hotFolder" type="xs:boolean"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="isAuthenticated" type="xs:boolean"/>
			<xs:attribute name="user" type="xs:string"/>
			<xs:attribute name="accessToken" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SOSPermissionJocCockpitMasters">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="SOSPermissionJocCockpitMaster"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SOSPermissionJocCockpitMaster">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="JobSchedulerMaster" type="xs:string"/>
				<xs:element ref="SOSPermissionJocCockpit"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SOSPermissionCommandsMaster">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="JobSchedulerMaster" type="xs:string"/>
				<xs:element ref="SOSPermissionCommands"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SOSPermissionCommandsMasters">
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element ref="SOSPermissionCommandsMaster"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
