sos-security/src/test/resources/permissions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 3 U (http://www.xmlspy.com) by Andreas Pueschel (APL Software GmbH) -->
<!--W3C Schema generated by XMLSPY v5 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="SOSPermissionDashboard">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="SOSPermission"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SOSPermissionEvents">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="SOSPermission"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="filter" type="xs:string"/>
	<xs:element name="SOSPermissionJid">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SOSPermissionJoe"/>
				<xs:element ref="SOSPermissionJoc"/>
				<xs:element ref="SOSPermissionDashboard"/>
				<xs:element ref="SOSPermissionEvents"/>
				<xs:element ref="SOSPermissionWorkingplan"/>
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:element ref="SOSPermission"/>
				</xs:sequence>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SOSPermissionJoc">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="SOSPermission"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SOSPermissionJoe">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="SOSPermission"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SOSPermission">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="edit"/>
				<xs:enumeration value="shart_job"/>
				<xs:enumeration value="show"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SOSPermissions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SOSPermissionJoc"/>
				<xs:element ref="SOSPermissionJoe"/>
				<xs:element ref="SOSPermissionJid"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SOSPermissionRole">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="SOSRoleJoc"/>
				<xs:enumeration value="SOSRoleJoe"/>
				<xs:enumeration value="SOSRoleEvent"/>
				<xs:enumeration value="SOSRoleAdmin"/>
				<xs:enumeration value="SOSRoleSuper"/>
				<xs:enumeration value="SOSRoleDashboard"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SOSPermissionRoles">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SOSPermissionRole" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SOSPermissionShiro">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SOSPermissionRoles"/>
				<xs:element ref="SOSPermissions"/>
			</xs:sequence>
			<xs:attribute name="authenticated" type="xs:boolean"/>
			<xs:attribute name="user" type="xs:string"/>
			<xs:attribute name="session_id" type="xs:string"/>
			<xs:attribute name="security_server_url" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SOSPermissionWorkingplan">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="SOSPermission"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
