jobscheduler-web-services-globals/src/test/resources/SosSecurityWebserviceAnswer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 3 U (http://www.xmlspy.com) by Andreas Pueschel (APL Software GmbH) -->
<!--W3C Schema generated by XMLSPY v5 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="isEnabled" type="xs:boolean"/>
	<xs:element name="jobSchedulerAnswer">
		<xs:complexType/>
	</xs:element>
	<xs:element name="message" type="xs:string"/>
	<xs:element name="resource" type="xs:string"/>
	<xs:element name="sessionId" type="xs:string"/>
	<xs:element name="sos_security_webservice_answer">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="isEnabled"/>
				<xs:element ref="jobSchedulerAnswer"/>
				<xs:element ref="message"/>
				<xs:element ref="resource"/>
				<xs:element ref="sessionId"/>
				<xs:element ref="user"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="user" type="xs:string"/>
</xs:schema>
