jobscheduler-object-model/src/main/java/com/sos/scheduler/converter/ctm/deftable.dtd

<!ELEMENT DEFTABLE ((SCHED_TABLE | SCHED_GROUP | TABLE | SMART_TABLE)*,TEMPLATE*)>
<!ELEMENT TEMPLATE EMPTY>
<!ATTLIST TEMPLATE
  dc_platform CDATA #IMPLIED
  dc_version CDATA #IMPLIED
  description CDATA #IMPLIED
  dc_name CDATA #IMPLIED
  >
<!ELEMENT SMART_TABLE ((TAG |RULE_BASED_CALENDAR| INCOND | OUTCOND | CONTROL | AUTOEDIT | ON_GROUP | ON_TABLE| SHOUT | AUTOEDIT2)*, (JOB | SUB_TABLE)*)>
<!ELEMENT TABLE (JOB*)>
<!ELEMENT SUB_TABLE (JOB | SUB_TABLE | RULE_BASED_CALENDARS | TAG_NAMES | INCOND | OUTCOND | CONTROL | AUTOEDIT | ON_GROUP | ON_TABLE | SHOUT | AUTOEDIT2)* >
<!ELEMENT SCHED_GROUP ((TAG | INCOND | OUTCOND | CONTROL | AUTOEDIT | ON_GROUP | SHOUT)*, JOB*)>
<!ELEMENT SCHED_TABLE (JOB*)>
<!ATTLIST SCHED_GROUP
	DATACENTER		CDATA 		#REQUIRED
	TABLE_NAME 		CDATA 		#REQUIRED
	TABLE_DSN 		CDATA 		#IMPLIED
	TABLE_USERDAILY 	CDATA 		#IMPLIED
	GROUP 			CDATA 		#REQUIRED
	JOBNAME 		CDATA  		#IMPLIED
	APPLICATION 		CDATA 		#IMPLIED
	MEMNAME 		CDATA 		#IMPLIED
	OWNER 			CDATA 		#IMPLIED
	ADJUST_COND		(N | Y | D | 0 | 1 | Dummy)		"N"
	CONFIRM 		(0 | 1) 	"0"
	PRIORITY 		CDATA 		#IMPLIED
	TIMEFROM 		CDATA 		#IMPLIED
	TIMETO 			CDATA 		#IMPLIED
	TIMEZONE    		CDATA		#IMPLIED
	DUE_OUT 		CDATA 		#IMPLIED
	DOCMEM 			CDATA 		#IMPLIED
	DOCLIB 			CDATA 		#IMPLIED
	DESCRIPTION 		CDATA 		#IMPLIED
	AUTHOR 			CDATA 		#IMPLIED
	USED_BY 		CDATA 		#IMPLIED
	USED_BY_CODE 		CDATA 		#IMPLIED
	MODIFIED 		CDATA 		#IMPLIED
	LAST_UPLOAD 		CDATA 		#IMPLIED
	CHECKSUM 		CDATA 		#IMPLIED
	TABLE_ID 		CDATA 		#IMPLIED
	REAL_TABLEID 		CDATA 		#IMPLIED
	CREATION_USER 		CDATA 		#IMPLIED
	CREATION_DATE 		CDATA 		"EMPTY"
	CREATION_TIME 		CDATA 		"EMPTY"
	CHANGE_USERID 		CDATA 		#IMPLIED
	CHANGE_DATE 		CDATA 		#IMPLIED
	CHANGE_TIME 		CDATA 		#IMPLIED
	MULTY_AGENT 		(Y|N) 		#IMPLIED
	ACTIVE_FROM 		CDATA 		#IMPLIED
	ACTIVE_TILL 		CDATA 		#IMPLIED
	JOBISN			CDATA 		#IMPLIED
	MAXWAIT 		CDATA 		#IMPLIED
	STAT_CAL		CDATA		#IMPLIED
	DUE_OUT_DAYSOFFSET	CDATA		#IMPLIED
	FROM_DAYSOFFSET		CDATA		#IMPLIED
	TO_DAYSOFFSET		CDATA		#IMPLIED
	PREV_DAY 		CDATA	 	#IMPLIED
	CRITICAL 		(0 | 1) 	"0"			
>
<!ATTLIST SCHED_TABLE
	DATACENTER CDATA #REQUIRED
	TABLE_NAME CDATA #REQUIRED
	TABLE_DSN CDATA #IMPLIED
	TABLE_USERDAILY CDATA #IMPLIED
	USED_BY CDATA #IMPLIED
	USED_BY_CODE CDATA #IMPLIED
	MODIFIED CDATA #IMPLIED
	LAST_UPLOAD CDATA #IMPLIED
	CHECKSUM CDATA #IMPLIED
	TABLE_ID CDATA #IMPLIED
	REAL_TABLEID CDATA #IMPLIED
>


<!ELEMENT TAG EMPTY>
<!ATTLIST TAG
	TAG_NAME CDATA #REQUIRED
	LEVEL 	(TABLE) "TABLE"		
	DAYS CDATA #IMPLIED
	DAYS_AND_OR (AND | OR) "OR"
	WEEKDAYS CDATA #IMPLIED
	DATE CDATA #IMPLIED
	DAYSCAL CDATA #IMPLIED
	WEEKSCAL CDATA #IMPLIED
	CONFCAL CDATA #IMPLIED
	RETRO (0 | 1) "0"
	SHIFT (IGNOREJOB | PREVDAY | NEXTDAY | NOCONFCAL) #IMPLIED
	SHIFTNUM 		CDATA 		"+00"
	MAXWAIT 		CDATA 		"00"
	MAXRUNS 		CDATA 		#IMPLIED
	JAN 			(0 | 1) 	"0"
	FEB 			(0 | 1) 	"0"
	MAR 			(0 | 1) 	"0"
	APR 			(0 | 1) 	"0"
	MAY 			(0 | 1) 	"0"
	JUN 			(0 | 1) 	"0"
	JUL 			(0 | 1) 	"0"
	AUG 			(0 | 1) 	"0"
	SEP 			(0 | 1) 	"0"
	OCT 			(0 | 1) 	"0"
	NOV 			(0 | 1) 	"0"
	DEC 			(0 | 1) 	"0"
	TAGS_ACTIVE_FROM 	CDATA		#IMPLIED
	TAGS_ACTIVE_TILL 	CDATA		#IMPLIED
>

<!ELEMENT RULE_BASED_CALENDAR EMPTY>
<!ATTLIST RULE_BASED_CALENDAR
	NAME CDATA #REQUIRED
        LEVEL 	(TABLE|CONTROL-M) "TABLE"		
	DAYS CDATA #IMPLIED
	DAYS_AND_OR (AND | OR) "OR"
	WEEKDAYS CDATA #IMPLIED
	DATE CDATA #IMPLIED
	DAYSCAL CDATA #IMPLIED
	WEEKSCAL CDATA #IMPLIED
	CONFCAL CDATA #IMPLIED
	RETRO (0 | 1) "0"
	SHIFT (IGNOREJOB | PREVDAY | NEXTDAY | NOCONFCAL) #IMPLIED
	SHIFTNUM 		CDATA 		"+00"
	MAXWAIT 		CDATA 		"00"
	MAXRUNS 		CDATA 		#IMPLIED
	JAN 			(0 | 1) 	"0"
	FEB 			(0 | 1) 	"0"
	MAR 			(0 | 1) 	"0"
	APR 			(0 | 1) 	"0"
	MAY 			(0 | 1) 	"0"
	JUN 			(0 | 1) 	"0"
	JUL 			(0 | 1) 	"0"
	AUG 			(0 | 1) 	"0"
	SEP 			(0 | 1) 	"0"
	OCT 			(0 | 1) 	"0"
	NOV 			(0 | 1) 	"0"
	DEC 			(0 | 1) 	"0"
	ACTIVE_FROM 		CDATA		#IMPLIED
	ACTIVE_TILL 		CDATA		#IMPLIED
>

<!ELEMENT TAG_NAMES EMPTY>
<!ATTLIST TAG_NAMES
	TAG_NAME CDATA #IMPLIED
>

<!ELEMENT RULE_BASED_CALENDARS EMPTY>
<!ATTLIST RULE_BASED_CALENDARS
	NAME CDATA #IMPLIED
>

<!ELEMENT ON_GROUP (DO_GROUP | DOAUTOEDIT | DOSHOUT | DOFORCEJOB | DOCOND | DOMAIL | DOREMEDY)*>
<!ELEMENT ON_TABLE (DO_TABLE | DOAUTOEDIT | DOSHOUT | DOFORCEJOB | DOCOND | DOMAIL | DOREMEDY | DOAUTOEDIT2)*>

<!ATTLIST ON_GROUP
	CODE (OK | NOTOK) #REQUIRED
>
<!ATTLIST ON_TABLE
	CODE (OK | NOTOK) #REQUIRED
>
<!ELEMENT JOB (TAG_NAMES | RULE_BASED_CALENDARS | INCOND | OUTCOND | AUTOEDIT | QUANTITATIVE | CONTROL | SHOUT | STEP_RANGE | ON | AUTOEDIT2)*>
<!ELEMENT INCOND EMPTY>
<!ELEMENT OUTCOND EMPTY>
<!ELEMENT AUTOEDIT EMPTY>
<!ELEMENT AUTOEDIT2 EMPTY>
<!ELEMENT QUANTITATIVE EMPTY>
<!ELEMENT CONTROL EMPTY>
<!ELEMENT SHOUT EMPTY>
<!ELEMENT STEP_RANGE EMPTY>
<!ELEMENT ON (DO | DOAUTOEDIT | DOSHOUT | DOFORCEJOB | DOCTBRULE | DOSYSOUT | DOIFRERUN | DOCOND | DOMAIL | DOREMEDY | DOAUTOEDIT2)*>
<!ELEMENT DO EMPTY>
<!ELEMENT DO_GROUP EMPTY>
<!ELEMENT DO_TABLE EMPTY>
<!ELEMENT DOSHOUT EMPTY>
<!ELEMENT DOCOND EMPTY>
<!ELEMENT DOAUTOEDIT EMPTY>
<!ELEMENT DOAUTOEDIT2 EMPTY>
<!ELEMENT DOFORCEJOB EMPTY>
<!ELEMENT DOSYSOUT EMPTY>
<!ELEMENT DOIFRERUN EMPTY>
<!ELEMENT DOMAIL EMPTY>
<!ELEMENT DOREMEDY EMPTY>
<!ELEMENT DOCTBRULE EMPTY>
<!ATTLIST JOB 
	JOBNAME 		CDATA 		#IMPLIED
	MEMNAME 		CDATA 		#IMPLIED
	GROUP			CDATA		#IMPLIED
	APPLICATION 		CDATA 		#IMPLIED
	TASKTYPE (Job | Detached | Command | Dummy | Started_Task | Cyclic_Job | Cyclic_Task | Emergency_Job | Emergency_Cyclic_Job | Emergency_Task | Emergency_Cyclic_Task | External) #REQUIRED
	AUTHOR 			CDATA 		#IMPLIED
	MEMLIB 			CDATA 		#IMPLIED
	CMDLINE 		CDATA 		#IMPLIED
	NODEID 			CDATA 		#IMPLIED
	OWNER 			CDATA 		#IMPLIED
	MAXRERUN 		CDATA 		"0"
	TIMEFROM 		CDATA 		#IMPLIED
	TIMETO 			CDATA 		#IMPLIED
	TIMEZONE     		CDATA		#IMPLIED
	DUE_OUT 		CDATA 		#IMPLIED
	PRIORITY 		CDATA 		#IMPLIED
	CRITICAL 		(0 | 1) 	"0"
	CYCLIC 			(0 | 1) 	"0"
	CONFIRM 		(0 | 1) 	"0"
	AUTOARCH 		(0 | 1) 	"0"
	INTERVAL 	     CDATA    	#IMPLIED
	OVERLIB 		CDATA 		#IMPLIED
	MAXWAIT 		CDATA 		#IMPLIED
	DESCRIPTION 		CDATA 		#IMPLIED
	DOCMEM 			CDATA 		#IMPLIED
	DOCLIB 			CDATA 		#IMPLIED
	DAYS 			CDATA 		#IMPLIED
	DAYS_AND_OR 		(AND | OR) 	"OR"
	WEEKDAYS 		CDATA 		#IMPLIED
	DATE 			CDATA 		#IMPLIED
	DAYSCAL 		CDATA 		#IMPLIED
	WEEKSCAL 		CDATA 		#IMPLIED
	CONFCAL 		CDATA 		#IMPLIED
	RETRO 			(0 | 1) 	"0"
	SHIFT (IGNOREJOB | PREVDAY | NEXTDAY | NOCONFCAL) #IMPLIED
	SHIFTNUM 		CDATA 		"+00"
	MAXDAYS 		CDATA 		#IMPLIED
	MAXRUNS 		CDATA 		#IMPLIED
	RERUNMEM 		CDATA 		#IMPLIED
	RETEN_DAYS 		CDATA 		#IMPLIED
	RETEN_GEN 		CDATA 		#IMPLIED
	TASK_CLASS 		CDATA 		#IMPLIED
	PREV_DAY 		CDATA	 	#IMPLIED
	IND_CYCLIC 		(START | END| TARGET) 	#IMPLIED
	TAG_RELATIONSHIP 	(AND | OR) 	#IMPLIED
	RULE_BASED_CALENDAR_RELATIONSHIP 	(AND | OR) 	#IMPLIED
	SYSDB 			(0 | 1) 	"0"
	PDSNAME 		CDATA 		#IMPLIED
	MINIMUM 		CDATA 		#IMPLIED
	CATEGORY 		CDATA 		#IMPLIED
	PREVENTNCT2 		(N | Y | L | F) 	"N"
	JAN 			(0 | 1) 	"0"
	FEB 			(0 | 1) 	"0"
	MAR 			(0 | 1) 	"0"
	APR 			(0 | 1)		"0"
	MAY 			(0 | 1)		"0"
	JUN 			(0 | 1)		"0"
	JUL 			(0 | 1)		"0"
	AUG 			(0 | 1)		"0"
	SEP 			(0 | 1)		"0"
	OCT 			(0 | 1)		"0"
	NOV 			(0 | 1)		"0"
	DEC 			(0 | 1)		"0"
	OPTION (Release | Delete | Copy | Move | File | NewDest | ChangeClass) #IMPLIED
	PAR 			CDATA 		#IMPLIED
	FROM 			CDATA 		#IMPLIED
	ADJUST_COND 		CDATA 		#IMPLIED
	JOBS_IN_GROUP 		CDATA 		#IMPLIED
	LARGE_SIZE 		CDATA 		#IMPLIED
	CREATION_USER 		CDATA 		#IMPLIED
	CREATION_DATE 		CDATA 		"EMPTY"
	CREATION_TIME 		CDATA 		"EMPTY"
	CHANGE_USERID 		CDATA 		#IMPLIED
	CHANGE_DATE 		CDATA 		#IMPLIED
	CHANGE_TIME 		CDATA 		#IMPLIED
	JOB_RELEASE 		CDATA 		#IMPLIED
	JOB_VERSION 		CDATA 		#IMPLIED
	JOBISN 			CDATA 		#IMPLIED
	APPL_TYPE		CDATA 		#IMPLIED
	APPL_VER 		CDATA 		#IMPLIED
	APPL_FORM 		CDATA 		#IMPLIED
	CM_VER	 		CDATA 		#IMPLIED
	MULTY_AGENT 		(Y|N) 		#IMPLIED
	ACTIVE_FROM 		CDATA 		#IMPLIED
	ACTIVE_TILL 		CDATA 		#IMPLIED
	SCHEDULING_ENVIRONMENT	CDATA	#IMPLIED
	SYSTEM_AFFINITY		CDATA		#IMPLIED
	REQUEST_NJE_NODE	CDATA		#IMPLIED
	INSTREAM_JCL		CDATA		#IMPLIED
	USE_INSTREAM_JCL	CDATA		#IMPLIED
	STAT_CAL		CDATA		#IMPLIED
	DUE_OUT_DAYSOFFSET	CDATA		#IMPLIED
	FROM_DAYSOFFSET		CDATA		#IMPLIED
	TO_DAYSOFFSET		CDATA		#IMPLIED
	CYCLIC_TYPE		(Interval | IntervalSequence | SpecificTimes)	"Interval"
	CYCLIC_TOLERANCE	CDATA		#IMPLIED
	CYCLIC_INTERVAL_SEQUENCE	CDATA	#IMPLIED
	CYCLIC_TIMES_SEQUENCE	CDATA		#IMPLIED
	PARENT_TABLE		CDATA		#IMPLIED
>

<!ATTLIST INCOND
	NAME CDATA #REQUIRED
	ODATE CDATA #REQUIRED
	AND_OR (AND | OR) "AND"
	OP CDATA #IMPLIED
>
<!ATTLIST OUTCOND
	NAME CDATA #REQUIRED
	ODATE CDATA #REQUIRED
	SIGN (ADD | DEL) "ADD"
>
<!ATTLIST AUTOEDIT
	EXP CDATA #REQUIRED
>

<!ATTLIST AUTOEDIT2	
	NAME CDATA #REQUIRED
	VALUE CDATA #IMPLIED
>

<!ATTLIST QUANTITATIVE
	NAME CDATA #REQUIRED
	QUANT CDATA "1"
        ONFAIL          (K|R)                   #IMPLIED
        ONOK            (R|D)                   #IMPLIED
>
<!ATTLIST CONTROL
	NAME CDATA #REQUIRED
	TYPE (E | S) "E"
        ONFAIL  (K|R)        #IMPLIED
>
<!ATTLIST SHOUT
	WHEN (OK | NOTOK | RERUN | LATESUB | LATETIME | EXECTIME) #REQUIRED
	DEST CDATA #REQUIRED
	URGENCY (R | U | V) "R"
	MESSAGE CDATA #REQUIRED
	TIME CDATA #IMPLIED
	DAYSOFFSET CDATA #IMPLIED
>
<!ATTLIST STEP_RANGE
	NAME CDATA #REQUIRED
	FPGMS CDATA #IMPLIED
	FPROCS CDATA #IMPLIED
	TPGMS CDATA #IMPLIED
	TPROCS CDATA #IMPLIED
>
<!ATTLIST ON
	STMT CDATA #IMPLIED
	CODE CDATA #IMPLIED
	PGMS CDATA #IMPLIED
	PROCS CDATA #IMPLIED
  PATTERN CDATA		#IMPLIED
  FROM_COLUMN CDATA		#IMPLIED
  TO_COLUMN CDATA		#IMPLIED
AND_OR (AND | OR) #IMPLIED
>
<!ATTLIST DO
	ACTION (OK | NOTOK | RERUN | SPCYC) #REQUIRED
>
<!ATTLIST DO_GROUP
	ACTION (OK | NOTOK) #REQUIRED
>
<!ATTLIST DO_TABLE
	ACTION (OK | NOTOK) #REQUIRED
>
<!ATTLIST DOSHOUT
	DEST CDATA #REQUIRED
	URGENCY (R | U | V) "R"
	MESSAGE CDATA #REQUIRED
>
<!ATTLIST DOCOND
	NAME CDATA #REQUIRED
	ODATE CDATA #REQUIRED
	SIGN (ADD | DEL) "ADD"
>
<!ATTLIST DOAUTOEDIT
	EXP CDATA #REQUIRED
>
<!ATTLIST DOAUTOEDIT2
	NAME CDATA #REQUIRED
	VALUE CDATA #IMPLIED
>
<!ATTLIST DOFORCEJOB
	DSN CDATA #IMPLIED
	TABLE_NAME CDATA #REQUIRED
	NAME CDATA #IMPLIED
	ODATE CDATA #REQUIRED
>
<!ATTLIST DOSYSOUT
	OPTION (Release | Delete | Copy | Move | File | NewDest | ChangeClass) #REQUIRED
	PAR CDATA #IMPLIED
	FROM CDATA #IMPLIED
>
<!ATTLIST DOIFRERUN
	CONFIRM (0 | 1) "0"
	FPGMS CDATA #REQUIRED
	FPROCS CDATA #IMPLIED
	TPGMS CDATA #IMPLIED
	TPROCS CDATA #IMPLIED
>
<!ATTLIST DOMAIL
	URGENCY (R | U | V) "R"
	DEST CDATA #REQUIRED
	CC_DEST CDATA #IMPLIED
	SUBJECT CDATA #IMPLIED
	MESSAGE CDATA #IMPLIED
  	ATTACH_SYSOUT (Default|Yes|No)  #IMPLIED
>
<!ATTLIST DOREMEDY 
	SUMMARY	CDATA #REQUIRED
	DESCRIPTION CDATA #REQUIRED
	URGENCY (L|M|H|U|C) "L"
>
<!ATTLIST DOCTBRULE
	NAME CDATA #REQUIRED
	PAR CDATA #IMPLIED
>
<!ATTLIST SUB_TABLE
	
	JOBNAME			CDATA		#REQUIRED  
	GROUP			CDATA		#REQUIRED
	APPLICATION		CDATA		#IMPLIED	
	AUTHOR		CDATA		#IMPLIED		
	OWNER			CDATA		#IMPLIED
	TIMEFROM		CDATA		#IMPLIED
	TIMETO		CDATA		#IMPLIED
	DUE_OUT		CDATA		#IMPLIED
	TIMEZONE		CDATA		#IMPLIED
	PRIORITY		CDATA		#IMPLIED	
	CONFIRM		(0|1)		"0"		
	DESCRIPTION		CDATA		#IMPLIED
	DOCMEM		CDATA		#IMPLIED
	DOCLIB		CDATA		#IMPLIED
	PREV_DAY 		CDATA		#IMPLIED
	ADJUST_COND		CDATA		#IMPLIED	
	CRITICAL 		(0 | 1) 	"0"	
	CREATION_USER 	CDATA 	#IMPLIED
	CREATION_DATE 	CDATA 	"EMPTY"
	CREATION_TIME 	CDATA 	"EMPTY"
	CHANGE_USERID	CDATA		#IMPLIED
	CHANGE_DATE		CDATA		#IMPLIED
	CHANGE_TIME		CDATA		#IMPLIED	
	JOB_RELEASE	      CDATA		#IMPLIED
	JOB_VERSION	      CDATA		#IMPLIED	
	TABLE_ID 	      CDATA 	#IMPLIED
	REAL_TABLEID 	CDATA 	#IMPLIED
	JOBISN		CDATA 	#IMPLIED
	LARGE_SIZE 	      CDATA 	#IMPLIED
  	APPL_TYPE		CDATA 	#IMPLIED
	APPL_VER 		CDATA 	#IMPLIED
	APPL_FORM 		CDATA 	#IMPLIED
	CM_VER	 	CDATA       #IMPLIED
  
	
>
<!ATTLIST SMART_TABLE				
	DATACENTER		CDATA 		#REQUIRED
	TABLE_NAME 			CDATA 		#REQUIRED
	TABLE_DSN 		CDATA 		#IMPLIED
	TABLE_USERDAILY 	CDATA 		#IMPLIED
	GROUP 			CDATA 		#IMPLIED
	JOBNAME 		CDATA  		#IMPLIED
	APPLICATION 		CDATA 		#IMPLIED
	MEMNAME 		CDATA 		#IMPLIED
	OWNER 			CDATA 		#IMPLIED
	ADJUST_COND		(N | Y | D | 0 | 1 | Dummy)		"N"
	CONFIRM 		(0 | 1) 	"0"
	PRIORITY 		CDATA 		#IMPLIED
	TIMEFROM 		CDATA 		#IMPLIED
	TIMETO 			CDATA 		#IMPLIED
	TIMEZONE    	CDATA			#IMPLIED
	DUE_OUT 		CDATA 		#IMPLIED
	DOCMEM 			CDATA 		#IMPLIED
	DOCLIB 			CDATA 		#IMPLIED
	DESCRIPTION 		CDATA 		#IMPLIED
	AUTHOR 			CDATA 		#IMPLIED
	USED_BY 		CDATA 		#IMPLIED
	USED_BY_CODE 		CDATA 		#IMPLIED
	MODIFIED 		CDATA 		#IMPLIED
	LAST_UPLOAD 		CDATA 		#IMPLIED
	CHECKSUM 		CDATA 		#IMPLIED
	TABLE_ID 		CDATA 		#IMPLIED
	REAL_TABLEID 		CDATA 		#IMPLIED
	CREATION_USER 		CDATA 		#IMPLIED
	CREATION_DATE 		CDATA 		"EMPTY"
	CREATION_TIME 		CDATA 		"EMPTY"
	CHANGE_USERID 		CDATA 		#IMPLIED
	CHANGE_DATE 		CDATA 		#IMPLIED
	CHANGE_TIME 		CDATA 		#IMPLIED
	MULTY_AGENT 		(Y|N) 		#IMPLIED
	ACTIVE_FROM 		CDATA 		#IMPLIED
	ACTIVE_TILL 		CDATA 		#IMPLIED
	JOBISN			CDATA 		#IMPLIED
	MAXWAIT 		CDATA 		#IMPLIED
	DUE_OUT_DAYSOFFSET	CDATA		#IMPLIED
	FROM_DAYSOFFSET		CDATA		#IMPLIED
	TO_DAYSOFFSET		CDATA		#IMPLIED
	PREV_DAY 		CDATA	 	#IMPLIED
	CRITICAL 		(0 | 1) 	"0"	
  	APPL_TYPE		CDATA 		#IMPLIED
	APPL_VER 		CDATA 		#IMPLIED
	APPL_FORM 		CDATA 		#IMPLIED
	CM_VER	 		CDATA 		#IMPLIED
	STAT_CAL		CDATA		#IMPLIED
	
 >
<!ATTLIST TABLE	
	DATACENTER CDATA #REQUIRED
	TABLE_NAME CDATA #REQUIRED
	TABLE_DSN CDATA #IMPLIED
	TABLE_USERDAILY CDATA #IMPLIED
	USED_BY CDATA #IMPLIED
	USED_BY_CODE CDATA #IMPLIED
	MODIFIED CDATA #IMPLIED
	LAST_UPLOAD CDATA #IMPLIED
	CHECKSUM CDATA #IMPLIED
	TABLE_ID CDATA #IMPLIED
	REAL_TABLEID CDATA #IMPLIED
>
