jobscheduler-object-model/src/main/jaxb/scheduler_answers.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 3 U (http://www.xmlspy.com) by Andreas Pueschel (APL Software GmbH) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="spooler">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="answer"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="answer">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="calendar"/>
				<xs:element ref="ERROR"/>
				<xs:element ref="history"/>
				<xs:element ref="jobs"/>
				<xs:element ref="job"/>
				<xs:element ref="ok"/>
				<xs:element ref="order"/>
				<xs:element ref="state"/>
				<xs:element ref="subsystems"/>
				<xs:element ref="job_chain"/>
			</xs:sequence>
			<xs:attribute name="time" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="calendar">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="at"/>
				<xs:element ref="period"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="at">
		<xs:complexType>
			<xs:attribute name="at" type="xs:NMTOKEN" use="required"/>
			<xs:attribute name="job"/>
			<xs:attribute name="job_chain"/>
			<xs:attribute name="order" type="xs:NCName"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="period">
		<xs:complexType>
			<xs:attribute name="absolute_repeat" type="xs:integer"/>
			<xs:attribute name="begin" type="xs:NMTOKEN" use="required"/>
			<xs:attribute name="end" type="xs:NMTOKEN" use="required"/>
			<xs:attribute name="job"/>
			<xs:attribute name="job_chain"/>
			<xs:attribute name="order" type="xs:NCName"/>
			<xs:attribute name="repeat" type="xs:integer"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="history">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="history.entry" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="history.entry">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="log" minOccurs="0"/>
				<xs:element ref="logfile"/>
				<!-- das element liefert Fehler beim Generieren -->
				<!-- Exception in thread "main" java.lang.IllegalArgumentException: trying to create the same field twice: error -->
				<!--xs:element minOccurs="0" ref="ERROR"/-->
			</xs:sequence>
			<xs:attribute name="cause" type="xs:NCName" use="required"/>
			<xs:attribute name="end_time" use="required"/>
			<xs:attribute name="error" type="xs:integer" use="required"/>
			<xs:attribute name="error_code" type="xs:NCName"/>
			<xs:attribute name="error_text"/>
			<xs:attribute name="exit_code" type="xs:integer" use="required"/>
			<xs:attribute name="id" type="xs:integer" use="required"/>
			<xs:attribute name="job_name" type="xs:NCName" use="required"/>
			<xs:attribute name="pid" type="xs:integer" use="required"/>
			<xs:attribute name="spooler_id" type="xs:NCName" use="required"/>
			<xs:attribute name="start_time" use="required"/>
			<xs:attribute name="steps" type="xs:integer" use="required"/>
			<xs:attribute name="task_id" type="xs:integer" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="logfile" type="xs:string"/>
	<xs:element name="ok">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="task"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="task">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="order"/>
				<xs:element ref="log"/>
			</xs:sequence>
			<xs:attribute name="enqueued" use="required"/>
			<xs:attribute name="cause" type="xs:NCName" use="required"/>
			<xs:attribute name="force_start" type="xs:NCName" use="required"/>
			<xs:attribute name="id" type="xs:integer" use="required"/>
			<xs:attribute name="job" use="required"/>
			<xs:attribute name="log_file" type="xs:anyURI" use="required"/>
			<xs:attribute name="name" use="required"/>
			<xs:attribute name="operation" use="required"/>
			<xs:attribute name="pid" type="xs:integer" use="required"/>
			<xs:attribute name="priority" type="xs:NCName" use="required"/>
			<xs:attribute name="running_since" use="required"/>
			<xs:attribute name="start_at" type="xs:NCName" use="required"/>
			<xs:attribute name="state" type="xs:NCName" use="required"/>
			<xs:attribute name="steps" type="xs:integer" use="required"/>
			<xs:attribute name="task_id" type="xs:integer" use="required"/>
			<xs:attribute name="task" type="xs:integer" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="state">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="folder"/>
				<xs:element ref="subprocesses"/>
				<xs:element ref="remote_schedulers"/>
				<xs:element ref="http_server"/>
				<xs:element ref="connections"/>
			</xs:sequence>
			<xs:attribute name="config_file" use="required"/>
			<xs:attribute name="cpu_time" type="xs:decimal" use="required"/>
			<xs:attribute name="db" use="required"/>
			<xs:attribute name="host" type="xs:NCName" use="required"/>
			<xs:attribute name="id" type="xs:NCName" use="required"/>
			<xs:attribute name="log_file" use="required"/>
			<xs:attribute name="loop" type="xs:integer" use="required"/>
			<xs:attribute name="need_db" type="xs:NCName" use="required"/>
			<xs:attribute name="pid" type="xs:integer" use="required"/>
			<xs:attribute name="spooler_id" type="xs:NCName" use="required"/>
			<xs:attribute name="spooler_running_since" use="required"/>
			<xs:attribute name="state" type="xs:NCName" use="required"/>
			<xs:attribute name="tcp_port" type="xs:integer" use="required"/>
			<xs:attribute name="time" use="required"/>
			<xs:attribute name="udp_port" type="xs:integer" use="required"/>
			<xs:attribute name="version" use="required"/>
			<xs:attribute name="wait_until" use="required"/>
			<xs:attribute name="waits" type="xs:integer" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="subprocesses">
		<xs:complexType/>
	</xs:element>
	<xs:element name="remote_schedulers">
		<xs:complexType>
			<xs:attribute name="connected" type="xs:integer" use="required"/>
			<xs:attribute name="count" type="xs:integer" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="http_server">
		<xs:complexType/>
	</xs:element>
	<xs:element name="connections">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="connection"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="connection">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="peer"/>
				<xs:element ref="operation"/>
			</xs:sequence>
			<xs:attribute name="operation_type" type="xs:NCName" use="required"/>
			<xs:attribute name="received_bytes" type="xs:integer" use="required"/>
			<xs:attribute name="responses" type="xs:integer" use="required"/>
			<xs:attribute name="sent_bytes" type="xs:integer" use="required"/>
			<xs:attribute name="state" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="peer">
		<xs:complexType>
			<xs:attribute name="host_ip" type="xs:NMTOKEN" use="required"/>
			<xs:attribute name="port" type="xs:integer" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="operation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="xml_operation"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="xml_operation">
		<xs:complexType>
			<xs:attribute name="async_state_text" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ERROR">
		<xs:complexType>
			<xs:attribute name="code" type="xs:NCName" use="required"/>
			<xs:attribute name="text" use="required"/>
			<xs:attribute name="time" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="jobs">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="job" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="job">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="file_based"/>
				<xs:element ref="lock.requestor" minOccurs="0"/>
				<xs:element ref="tasks"/>
				<xs:element ref="queued_tasks"/>
				<xs:choice minOccurs="0">
					<xs:element ref="ERROR"/>
					<xs:element ref="order_queue"/>
				</xs:choice>
				<xs:element ref="log"/>
			</xs:sequence>
			<xs:attribute name="all_no_of_tasks" type="xs:integer" use="required"/>
			<xs:attribute name="all_steps" type="xs:integer" use="required"/>
			<xs:attribute name="enabled" type="xs:NCName" use="required"/>
			<xs:attribute name="has_description" type="xs:NCName"/>
			<xs:attribute name="in_period" type="xs:NCName" use="required"/>
			<xs:attribute name="job" type="xs:NMTOKEN" use="required"/>
			<xs:attribute name="job_chain_priority" type="xs:integer"/>
			<xs:attribute name="log_file" type="xs:anyURI" use="required"/>
			<xs:attribute name="name" type="xs:NMTOKEN" use="required"/>
			<xs:attribute name="next_start_time"/>
			<xs:attribute name="no_of_no_of_tasks" type="xs:integer"/>
			<xs:attribute name="no_of_tasks" type="xs:integer"/>
			<xs:attribute name="order" type="xs:NCName" use="required"/>
			<xs:attribute name="path" use="required"/>
			<xs:attribute name="process_class"/>
			<xs:attribute name="state" type="xs:NCName" use="required"/>
			<xs:attribute name="title"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="lock.requestor">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="lock.use"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="lock.use">
		<xs:complexType>
			<xs:attribute name="exclusive" type="xs:NCName" use="required"/>
			<xs:attribute name="lock" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="tasks">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="task" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="count" type="xs:integer" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="queued_tasks">
		<xs:complexType>
			<xs:attribute name="length" type="xs:integer" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="log">
		<xs:complexType mixed="true">
			<xs:attribute name="highest_level" type="xs:NCName"/>
			<xs:attribute name="last_error"/>
			<xs:attribute name="last_info"/>
			<xs:attribute name="last_warning"/>
			<xs:attribute name="level" type="xs:NCName" use="required"/>
			<xs:attribute name="mail_from"/>
			<xs:attribute name="mail_on_error" type="xs:NCName"/>
			<xs:attribute name="mail_on_warning" type="xs:NCName"/>
			<xs:attribute name="mail_to"/>
			<xs:attribute name="smtp" type="xs:NCName"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="folder">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="file_based"/>
				<xs:element ref="jobs"/>
				<xs:element ref="folders"/>
				<xs:element ref="job_chains"/>
				<xs:element ref="locks"/>
				<xs:element ref="orders"/>
				<xs:element ref="process_classes"/>
			</xs:choice>
			<xs:attribute name="name" type="xs:NCName"/>
			<xs:attribute name="path" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="folders">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="folder" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="job_chains">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="job_chain" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="job_chain">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="file_based"/>
				<xs:element ref="file_order_source" minOccurs="0"/>
				<xs:element ref="job_chain_node" maxOccurs="unbounded"/>
				<xs:element name="order_history" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="order" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="file_based"/>
									</xs:sequence>
									<xs:attribute name="created" type="xs:string"/>
									<xs:attribute name="end_time" type="xs:string"/>
									<xs:attribute name="history_id" type="xs:integer"/>
									<xs:attribute name="id" type="xs:string"/>
									<xs:attribute name="initial_state" type="xs:string"/>
									<xs:attribute name="job_chain" type="xs:string"/>
									<xs:attribute name="order" type="xs:string"/>
									<xs:attribute name="path" type="xs:string"/>
									<xs:attribute name="priority" type="xs:string"/>
									<xs:attribute name="start_time" type="xs:string"/>
									<xs:attribute name="state" type="xs:string"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="name" type="xs:NCName" use="required"/>
			<xs:attribute name="orders" type="xs:integer" use="required"/>
			<xs:attribute name="orders_recoverable" type="xs:NCName" use="required"/>
			<xs:attribute name="path" use="required"/>
			<xs:attribute name="running_orders" type="xs:integer" use="required"/>
			<xs:attribute name="state" type="xs:NCName" use="required"/>
			<xs:attribute name="title"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="file_order_source">
		<xs:complexType>
			<xs:attribute name="delay_after_error" type="xs:integer" use="required"/>
			<xs:attribute name="directory" type="xs:NCName" use="required"/>
			<xs:attribute name="max" type="xs:integer" use="required"/>
			<xs:attribute name="next_state" type="xs:NCName" use="required"/>
			<xs:attribute name="regex" use="required"/>
			<xs:attribute name="repeat" type="xs:integer" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="job_chain_node">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="order_queue" minOccurs="0"/>
				<xs:element ref="file_order_sink" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="error_state" type="xs:NMTOKEN"/>
			<xs:attribute name="job"/>
			<xs:attribute name="next_state" type="xs:NMTOKEN"/>
			<xs:attribute name="state" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="file_order_sink">
		<xs:complexType>
			<xs:attribute name="remove" type="xs:NCName" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="locks">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="lock"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="lock">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="file_based"/>
			</xs:sequence>
			<xs:attribute name="is_free" type="xs:NCName" use="required"/>
			<xs:attribute name="max_non_exclusive" type="xs:integer" use="required"/>
			<xs:attribute name="name" type="xs:NCName" use="required"/>
			<xs:attribute name="path" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="orders">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="order" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="process_classes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="process_class" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="process_class">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="file_based"/>
			</xs:sequence>
			<xs:attribute name="max_processes" type="xs:integer" use="required"/>
			<xs:attribute name="name"/>
			<xs:attribute name="path" use="required"/>
			<xs:attribute name="processes" type="xs:integer" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="file_based">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="includes" minOccurs="0"/>
				<xs:element ref="requisites" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="file"/>
			<xs:attribute name="last_write_time" type="xs:NMTOKEN"/>
			<xs:attribute name="state" type="xs:NCName" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="includes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="include"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="include">
		<xs:complexType>
			<xs:attribute name="live_file" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="requisites">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="requisite"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="requisite">
		<xs:complexType>
			<xs:attribute name="path" use="required"/>
			<xs:attribute name="type" type="xs:NCName" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="order_queue">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="order" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="length" type="xs:integer" use="required"/>
			<xs:attribute name="next_start_time"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="order">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="file_based"/>
				<xs:element ref="log"/>
			</xs:sequence>
			<xs:attribute name="at"/>
			<xs:attribute name="created" use="required"/>
			<xs:attribute name="history_id" type="xs:integer"/>
			<xs:attribute name="id" type="xs:NCName" use="required"/>
			<xs:attribute name="in_process_since"/>
			<xs:attribute name="initial_state" type="xs:NMTOKEN" use="required"/>
			<xs:attribute name="job" use="required"/>
			<xs:attribute name="job_chain" use="required"/>
			<xs:attribute name="log_file"/>
			<xs:attribute name="name" use="required"/>
			<xs:attribute name="next_start_time"/>
			<xs:attribute name="order" type="xs:NCName" use="required"/>
			<xs:attribute name="path" use="required"/>
			<xs:attribute name="priority" type="xs:integer" use="required"/>
			<xs:attribute name="setback"/>
			<xs:attribute name="setback_count" type="xs:integer"/>
			<xs:attribute name="start_time"/>
			<xs:attribute name="state" type="xs:NMTOKEN" use="required"/>
			<xs:attribute name="suspended" type="xs:NCName"/>
			<xs:attribute name="title" type="xs:NCName"/>
			<xs:attribute name="touched" type="xs:NCName"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="subsystems">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="subsystem" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="subsystem">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="task_subsystem" minOccurs="0"/>
				<xs:element ref="file_based.statistics" minOccurs="0"/>
				<xs:choice minOccurs="0">
					<xs:element ref="job_subsystem"/>
					<xs:element ref="order_subsystem"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="name" type="xs:NCName" use="required"/>
			<xs:attribute name="state" type="xs:NCName" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="task_subsystem">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="task_subsystem.statistics"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="task_subsystem.statistics">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="task.statistics"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="task.statistics">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="task.statistic" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="task.statistic">
		<xs:complexType>
			<xs:attribute name="count" type="xs:integer" use="required"/>
			<xs:attribute name="task_state" type="xs:NCName" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="file_based.statistics">
		<xs:complexType>
			<xs:attribute name="count" type="xs:integer" use="required"/>
			<xs:attribute name="count_visible" type="xs:integer" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="job_subsystem">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="job_subsystem.statistics"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="job_subsystem.statistics">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="job.statistics"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="job.statistics">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="job.statistic" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="job.statistic">
		<xs:complexType>
			<xs:attribute name="count" type="xs:integer" use="required"/>
			<xs:attribute name="job_state" type="xs:NCName"/>
			<xs:attribute name="need_process" type="xs:boolean"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="order_subsystem">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="order_subsystem.statistics"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="order_subsystem.statistics">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="order.statistics"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="order.statistics">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="order.statistic" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="order.statistic">
		<xs:complexType>
			<xs:attribute name="count" type="xs:integer" use="required"/>
			<xs:attribute name="order_state" type="xs:NCName" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
