sos-scheduler/src/main/java/sos/scheduler/InstallationService/batchAgentInstallationConfigurationSample/scheduler_agent_installations.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 3 U (http://www.xmlspy.com) by Andreas Pueschel (APL Software GmbH) -->
<!--W3C Schema generated by XMLSPY v5 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="UserPathPanelElement" type="xs:string"/>
	<xs:element name="authFile" type="xs:string"/>
	<xs:element name="authMethod" type="xs:string"/>
	<xs:element name="command" type="xs:string"/>
	<xs:element name="ftp">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="user"/>
				<xs:element ref="password"/>
				<xs:element ref="localDir"/>
				<xs:element ref="remoteDir"/>
				<xs:element ref="port"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="globals">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="serviceId"/>
				<xs:element ref="licence"/>
				<xs:element ref="servicePort"/>
				<xs:element ref="serviceAllowedHost"/>
				<xs:element ref="installPath"/>
				<xs:element ref="UserPathPanelElement"/>
				<xs:element ref="ftp"/>
				<xs:element ref="ssh"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="host" type="xs:string"/>
	<xs:element name="installPath" type="xs:string"/>
	<xs:element name="installation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="serviceId"/>
				<xs:element ref="licence"/>
				<xs:element ref="servicePort"/>
				<xs:element ref="serviceAllowedHost"/>
				<xs:element ref="installPath"/>
				<xs:element ref="UserPathPanelElement"/>
				<xs:element ref="host"/>
				<xs:element ref="ftp"/>
				<xs:element ref="ssh"/>
			</xs:sequence>
			<xs:attribute name="lastRun" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="installations">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="globals"/>
				<xs:element ref="installation" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="licence" type="xs:string"/>
	<xs:element name="localDir" type="xs:anyURI"/>
	<xs:element name="password" type="xs:string"/>
	<xs:element name="port" type="xs:short"/>
	<xs:element name="remoteDir" type="xs:string"/>
	<xs:element name="serviceAllowedHost" type="xs:string"/>
	<xs:element name="serviceId" type="xs:string"/>
	<xs:element name="servicePort" type="xs:short"/>
	<xs:element name="ssh">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="user"/>
				<xs:element ref="password"/>
				<xs:element ref="sudoPassword" minOccurs="0"/>
				<xs:element ref="authMethod"/>
				<xs:element ref="authFile" minOccurs="0"/>
				<xs:element ref="port"/>
				<xs:element ref="command"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sudoPassword" type="xs:string"/>
	<xs:element name="user" type="xs:string"/>
</xs:schema>
